@model IEnumerable<Partnership>

@{
    //ViewBag.Title = TechnicalDocumentStrings.EntityNamePlural;

    Layout = "~/Areas/BackOffice/Views/Shared/_IndexPageLayout.cshtml";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @UiStrings.Actions
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <form class="btn-group" method="post" action="@Url.Action("Delete", new { id = item.Id })">
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Details">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>

                    @*<a class="btn btn-default" title="@UiStrings.Download" target="_blank" href="@Url.Content("~/Public/TechnicalDocuments/" + item.FileName)">
                        <span class="glyphicon glyphicon-download"></span>
                    </a>*@

                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    @Html.AntiForgeryToken()
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </a>
                </form>
            </td>
        </tr>

    }
</table>
