@model IEnumerable<TranslatedViewModel<Collection, CollectionTranslation>>

<div id="afsm-collection-list">

    <div class="list-group afsm-dohighlight">

        @if (Model.Count() == 0)
        {
            <div class="alert alert-warning" role="alert">
                @LayoutStrings.NoItems
            </div>
        }
        else
        {
            foreach (var col in Model)
            {
                var authors = col.Entity.Authors.ToList();

                var logo = col.Entity.LogoLocation != null ?
                "Public/Collections/" + col.Entity.LogoLocation :
                "Content/Images/no-image.png";
                <a href="@Url.Action("Details", "Collections", new { col.Entity.Id })" class="list-group-item">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" style="width: 64px; height: 64px"
                                 src="~/@logo">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @Html.DisplayFor(model => col.Translation.Title) <small>@col.Entity.CatalogCode</small>
                            </h4>

                            <dl>
                                <dt>
                                    Data:
                                </dt>
                                <dd>
                                    @col.Entity.ProductionPeriod
                                </dd>

                            </dl>
                        </div>
                    </div>
                </a>
            }
            <div class="text-center afsm-pagination">
                @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("Index", new { pageNumber = p, query = ViewBag.Query, authorId = ViewBag.AuthorId }))
            </div>
        }
    </div>
</div>
