@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttachmentsDescriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachmentsDescriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
