@model CollectionDetailsViewModel

@{
    ViewBag.Title = Model.Collection.Translation.Title;

    var logo = Model.Collection.Entity.LogoLocation != null ?
        "Public/Collections/" + Model.Collection.Entity.LogoLocation :
        "Content/Images/no-image.png";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Collections")">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>

    <li class="active">
        @Html.Truncate(Model.Collection.Translation.Title, 20)
    </li>
</ol>


<div class="row afsm-detail-header">
    <div class="col-sm-4">
        <img src="~/@logo"
             class="img-responsive thumbnail"
             alt="@Model.Collection.Translation.Title" />
    </div>

    <div class="col-sm-8">
        <h3>
            @Model.Collection.Translation.Title <small>@Model.Collection.Entity.CatalogCode</small>
        </h3>

        <dl class="afsm-dl-vertical">

            <dt>
                @(Html.DisplayNameFor(model => model.Collection.Entity.ProductionPeriod))
            </dt>

            <dd>
                @Model.Collection.Entity.ProductionPeriod
            </dd>

            <dt>
                Autoria de
            </dt>

            <dd>
                <ul class="afsm-header-list">
                    @for (var i = 0; i < Model.Authors.Count(); i++)
                    {
                        var a = Model.Authors[i];
                        <li>
                            <a href="@Url.Action("Details", "Authors", new { id = a.Entity.Id })">
                                @(a.Entity.FirstName + " " + a.Entity.LastName)
                            </a>
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
</div>

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active">
        <a href="#afsm-details" role="tab" data-toggle="tab">
            Detalhes
        </a>
    </li>
    @if (Model.Documents.Count > 0)
    {
        <li>
            <a href="#afsm-documents" role="tab" data-toggle="tab">
                @DocumentStrings.EntityNamePlural
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane active fade in" id="afsm-details">

        <dl class="afsm-dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.Description)
            </dt>

            <dd>
                @Html.DisplayMultilineFor(model => model.Collection.Translation.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.AdministrativeAndBiographicStory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Collection.Translation.AdministrativeAndBiographicStory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.Provenience)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Collection.Translation.Provenience)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.Dimension)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Collection.Translation.Dimension)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.FieldAndContents)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Collection.Translation.FieldAndContents)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collection.Translation.CopyrightInfo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Collection.Translation.CopyrightInfo)
            </dd>
        </dl>
    </div>


    @if (Model.Documents.Count > 0)
    {

        <div class="tab-pane fade" id="afsm-documents" data-afsm-ajax="true" data-afsm-id="#afsm-document-list">
            <form method="get"
                  class="form-horizontal"
                  data-afsm-ajax="true"
                  action="@Url.Action("Index", "Documents")">
                <input type="hidden" name="collectionId" value="@Model.Collection.Entity.Id" />

                <div class="input-group">
                    <input type="search" class="form-control" name="query" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Pesquisar documentos</button>
                    </span>
                </div>

            </form>

            <div data-afsm-load="@Url.Action("Index", "Documents", new { collectionId = Model.Collection.Entity.Id })">
                @* Empty! *@
            </div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/Scripts/frontoffice/ajax-pagination.js")
}
