@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Informações sobre a coleção</h2>
<div>
    <hr />
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors.LastOrDefault().FirstName) @Html.DisplayFor(model => model.Authors.LastOrDefault().LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndProductionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentsDescriptions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentsDescriptions)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.AttachmentsDescriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachmentsDescriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogCode)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
