@model TranslatedViewModel<Collection, CollectionTranslation>


@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</h2>
<div>
    <hr />
    <a href="~/Collections">
        @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Collections)</a><b> &#9658 </b><b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</b>
        <hr />
        <dl>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CollectionTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Translation.Title)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Provenience)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Translation.Provenience)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CollectionAuthors)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity.Authors.LastOrDefault().FirstName) @Html.DisplayFor(model => model.Entity.Authors.LastOrDefault().LastName)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Provenience)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Translation.Provenience)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Dimension)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Translation.Dimension)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.ProductionInitialDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Entity.InitialProductionDate)
            </dd>

            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.PruductionEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Entity.EndProductionDate)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity.Notes)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.OrganizationSystem)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity.OrganizationSystem)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.AttachmentDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Translation.Description)
            </dd>
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CopyrightInfo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Translation.CopyrightInfo)
            </dd>
        </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>
