@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</h2>
<div>
    <hr />
    <dl >
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CollectionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Title)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CollectionAuthors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors.LastOrDefault().FirstName) @Html.DisplayFor(model => model.Authors.LastOrDefault().LastName)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.ProductionInitialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialProductionDate)
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.PruductionEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndProductionDate)
        </dd>
        <dt>
           @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
           @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.OrganizationSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationSystem)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.AttachmentDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentsDescriptions)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>
