@model IEnumerable<TranslatedViewModel<Collection, CollectionTranslation>>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li class="active">
        @CollectionStrings.EntityNamePlural
    </li>
</ol>

<h2>
    @CollectionStrings.EntityNamePlural
</h2>

<hr class="hidden-xs" />

<div id="afsm-collections" data-afsm-ajax="true" data-afsm-id="#afsm-collection-list">
    <form method="get"
          class="form-horizontal"
          data-afsm-ajax="true"
          action="@Url.Action("Index", "Collections")">
        <div class="input-group">
            <input type="search" class="form-control" name="query" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Pesquisar coleções</button>
            </span>
        </div>

    </form>

    @Html.Partial("_CollectionList")
</div>


@*<div class="row">

        @foreach (var col in Model)
        {
            // var authors = col.Entity.Authors.ToList();

            var logo = col.Entity.LogoLocation != null ?
                "Public/Collections/" + col.Entity.LogoLocation :
                "Content/Images/no-image.png";

            <div class="afsm-thumb col-sm-6 col-md-4">
                <a href="@Url.Action("Details", "Collections", new { col.Entity.Id })"
                   class="thumbnail">
                    <img src="~/@logo"
                         alt="@col.Translation.Title" />
                    <div class="caption">
                        <h4>
                            @Html.Truncate(col.Translation.Title, 20) <small>@col.Entity.CatalogCode</small>
                        </h4>
                        <p>
                            <small>@Html.Truncate(col.Translation.Description, 40)</small>
                        </p>
                    </div>
                </a>
            </div>
        }
    </div>*@

@section scripts {
    @Scripts.Render("~/Scripts/frontoffice/ajax-pagination.js")
}