@model ProcessTranslation

@Html.HiddenFor(model => model.ProcessId)
@Html.HiddenFor(model => model.LanguageCode)


<div class="form-group">
    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-sm-2" })

    <div class="col-sm-10">
        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
    </div>
</div>
