@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Archive>

@{
    ViewBag.Title = "Index";
}

<div class="page_content">
    <h3 class="page_title"> Acervo</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveMission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveHistory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchiveMission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchiveHistory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>
            </tr>
        }

    </table>
</div>
