@model ArquivoSilvaMagalhaes.Models.SiteModels.Archive

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Archive</h2>

@using (Html.BeginForm("Delete", "Portal", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="col-md-offset-4 col-md-12">

          <input type="submit" name="Apagar" value="Delete" class="btn btn-default" onclick="confirmation()" />

        </div>
    </div>
    <script>
        function confirmation(){
            var x;
            var d = document.getElementById("3");
            var r=confirm("Tem a certeza que pretende eliminar o arquivo?");
            if (r==true)
            {
                Del.value = "Delete";
            }
            else
            {
                Del.value = "Cancel";
            }
            
        }
    </script>

    
    
}

<div>
    @Html.ActionLink("Voltar á lista de arquivos", "Index")
</div>
