@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Archive>

@{
    ViewBag.Title = "Index";
}

<h2>Arquivos</h2>

<p>
    @Html.ActionLink("Criar novo arquivo", "Create")
</p>

@foreach (var archive in Model) {
    <div>
        <h4>@archive.Id</h4>
        <p>@archive.Title</p>
    </div>
           
    <tr>     
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=archive.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=archive.Id }) |
            @Html.ActionLink("Apagar", "Delete", new { id=archive.Id }) 
        </td>
    </tr>
}