@model TechnicalDocumentEditViewModel

@{
    ViewBag.Title = TechnicalDocumentStrings.CreateTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}


@using (Html.BeginForm("Create", "TechnicalDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">

        @Html.PartialFor(model => model.TechnicalDocument, "_TechnicalDocumentMainFields")

        <div class="form-group">
            @Html.LabelFor(model => model.UploadedFile, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.FileUploadFor(model => model.UploadedFile, new { @class = "form-control-static", accept = "image/*, audio/*, video/*, application/pdf, application/msword, application/msexcel, application/mspowerpoint, .pptx, .docx, .xlsx, .zip" })
                @Html.ValidationMessageFor(model => model.UploadedFile, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_SubmitBackPartial", LayoutStrings.Create)
    </div>
}

