{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
            </a>

            <div class="btn-group">
                <a class="btn btn-primary" title="@UiStrings.Edit" href="@Url.Action("Edit", new { Id = ViewBag.Id })">
                    <span class="glyphicon glyphicon-edit"></span> @UiStrings.Edit
                </a>

                <a class="btn btn-primary" title="@UiStrings.Delete" href="@Url.Action("Delete", new { Id = ViewBag.Id })">
                    <span class="glyphicon glyphicon-edit"></span> @UiStrings.Delete
                </a>
            </div>
        </div>

        @RenderSection("ExtraActions", required: false)
    </div>

    <div class="panel-body">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}