<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arquivo Fotográfico Silva e Magalhães </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("headscripts", required: false)
</head>
<body>
    @* Nav bar. *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home", new { Area = "BackOffice" })" class="navbar-brand" title="Arquivo Fotográfico Silva Magalhães">
                    <img style="max-height: 30px; margin-top: -5px" src="~/Public/Images/logo.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acervo <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Autores", "Index", "Authors")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Coleções", "Index", "Collections")</li>
                            <li>@Html.ActionLink("Documentos", "Index", "Documents")</li>
                            <li>@Html.ActionLink("Imagens", "Index", "Images")</li>
                            <li>@Html.ActionLink("Espécies Fotográficas", "Index", "Specimens")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Formatos", "Index", "Formats")</li>
                            <li>@Html.ActionLink("Indexações", "Index", "Keywords")</li>
                            <li>@Html.ActionLink("Classificações", "Index", "Classifications")</li>
                            <li>@Html.ActionLink("Processos", "Index", "Processes")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portal <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Eventos", "Index", "Event")</li>
                            <li>@Html.ActionLink("Notícias", "Index", "News")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Links", "Index", "ReferencedLink")</li>
                            <li>@Html.ActionLink("Documentos Técnicos", "Index", "TechnicalDocument")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Fotografias em destaque", "Index", "ShowcasePhotoes")</li>
                            <li>@Html.ActionLink("Vídeos destaque", "Index", "SpotLightVideo")</li>
                            <li>@Html.ActionLink("Fotografias banner", "Index", "BannerPhotograph")</li>
                        </ul>
                    </li>

                    @* TODO Roles... *@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administração <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Utilizadores", "Index", "Users")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Configurações", "Index", "Config")</li>
                        </ul>
                    </li>

                    <li class="navbar-link">
                        @Html.ActionLink("Front-Office", "Index", "Home", new { Area = "" }, null)
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content container-fluid">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Arquivo Fotográfico Silva Magalhães &amp; IPT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>