@model Classification


@{
    ViewBag.Title = ClassificationStrings.DeleteTitleFormat;
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger" role="alert">@ClassificationStrings.DeleteWarningMessage</div>

<div class="container">
    <ul class="nav nav-tabs">
        @for (int i = 0; i < Model.Translations.Count(); i++)
        {
            var langCode = Model.Translations[i].LanguageCode;
            <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                <a href="#@langCode"
                   role="tab"
                   data-toggle="tab">@langCode</a>
            </li>
        }
    </ul>
    <div class="tab-content">

        @foreach (var t in Model.Translations)
        {
            var langCode = t.LanguageCode;

            <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                 id="@langCode">
                <h4>
                    @Html.DisplayNameFor(model => t.Value)
                </h4>

                <p>
                    @Html.DisplayFor(model => t.Value)
                </p>
            </div>
        }
    </div>

    <form method="post" action="@Url.Action("Delete")">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">@UiStrings.Delete</button>
        @Html.ActionLink(UiStrings.Cancel, "Index", null, new { @class = "btn btn-default" })
    </form>
</div>

