@model IEnumerable<TranslatedViewModel<Document, DocumentTranslation>>

<div id="afsm-document-list">
    @if (Model.Count() > 0)
    {
        <div class="list-group afsm-dohighlight">
            @foreach (var doc in Model)
            {
                <a href="@Url.Action("Details", "Documents", new { doc.Entity.Id })" class="list-group-item">
                    <h4 class="list-group-item-heading">@Html.Truncate(doc.Entity.Title, 60) <small>@doc.Entity.CatalogCode</small></h4>
                    <dl class="afsm-dl-vertical">
                        <dt>
                            @DocumentStrings.DocumentDate
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => doc.Entity.DocumentDate)
                        </dd>

                        <dt>
                            @DocumentStrings.DocumentLocation
                        </dt>
                        <dd>
                            @doc.Translation.DocumentLocation
                        </dd>

                    </dl>
                </a>
            }
        </div>
        <div class="text-center afsm-pagination">
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", "Documents", new { pageNumber = p, query = ViewBag.Query, collectionId = ViewBag.CollectionId, authorId = ViewBag.AuthorId }))
        </div>
    }
    else
    {
        <div class="alert alert-warning afsm-dohighlight" role="alert">
            @LayoutStrings.NoItems
        </div>
    }
</div>