@model TranslatedViewModel<Document, DocumentTranslation>

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Documents)</h2>

<div>
    <hr />
    <a href="~/Collections">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Collections)</a><b> &#9658 </b><a href="~/Documents/Index/@Model.Entity.CollectionId">
    @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Documents)
</a><b> &#9658 </b><b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</b>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.DocumentTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Title)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.NameResponsible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.ResponsibleName)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.DocumentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.DocumentDate)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Notes)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Description)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.FieldAndContents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.FieldAndContents)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CatalogationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.CatalogationDate)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.ReferenceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.CatalogCode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index", new { id = Model.Entity.CollectionId })
</p>
