@model DocumentDetailsViewModel

@{
    ViewBag.Title = Model.Document.Entity.Title;
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Collections")">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Documents", new { collectionId = Model.Document.Entity.CollectionId })">
            @DocumentStrings.EntityNamePlural
        </a>
    </li>

    <li class="active">
        @Model.Document.Entity.Title
    </li>
</ol>

<h2>
    @Model.Document.Entity.Title <small>@Model.Document.Entity.CatalogCode</small>
</h2>

<dl class="afsm-dl-vertical">
    <dt>
        @Html.DisplayNameFor(model => model.Document.Entity.DocumentDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Document.Entity.DocumentDate)
    </dd>

</dl>

<hr />



<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active">
        <a href="#afsm-details" role="tab" data-toggle="tab">
            Detalhes
        </a>
    </li>
    @if (Model.Images.Count() > 0)
    {
        <li>
            <a href="#afsm-images" role="tab" data-toggle="tab">
                @ImageStrings.EntityNamePlural (@(Model.Images.Count()))
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane active fade in" id="afsm-details">
        

        <dl class="afsm-dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Document.Translation.Description)
            </dt>
            <dd>
                @Html.DisplayMultilineFor(model => model.Document.Translation.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Document.Translation.FieldAndContents)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Document.Translation.FieldAndContents)
            </dd>
        </dl>
    </div>
    @if (Model.Images.Count() > 0)
    {
        <div class="tab-pane fade" id="afsm-images">

            @section additionalheadcontent {
                @Styles.Render("~/Content/Styles/Images.css")
            }

            @Html.Partial("_ImageList", Model.Images)

            @section scripts {
                @Html.Partial("_ImageOverlay")
            }

        </div>
    }
</div>

