@model IEnumerable<TranslatedViewModel<Document, DocumentTranslation>>

@{
    ViewBag.Title = DocumentStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Collections")">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>
    <li class="active">
        @DocumentStrings.EntityNamePlural
    </li>
</ol>

<h2>
    @DocumentStrings.EntityNamePlural
</h2>

<hr />

@Html.Partial("_DocumentList", Model)