@model IEnumerable<TranslatedViewModel<Document, DocumentTranslation>>

@{
    ViewBag.Title = DocumentStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<h2>
    @DocumentStrings.EntityNamePlural
</h2>

<hr />

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Collections")">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>
    <li class="active">
        @DocumentStrings.EntityNamePlural
    </li>
</ol>

<div class="list-group">

    @foreach (var doc in Model)
    {
        <a href="@Url.Action("Details", "Documents", new { doc.Entity.Id })" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object" style="width: 96px; height: 96px"
                         src="~/Content/Images/no-image.png">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        @Html.Truncate(doc.Entity.Title, 60)
                        &nbsp;<small>@doc.Entity.CatalogCode</small>
                    </h4>

                    <dl>
                        <dt>
                            Data: 
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => doc.Entity.DocumentDate)
                        </dd>

                        <dt>
                            Local:
                        </dt>
                        <dd>
                            @doc.Translation.DocumentLocation
                        </dd>

                    </dl>

                    <p>
                        @Html.Truncate(doc.Translation.Description, 120)
                    </p>


                </div>
            </div>
        </a>
    }
</div>



@section scripts {
    <style>
        dl > dt {
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
}