@model IEnumerable<TranslatedViewModel<NewsItem, NewsItemTranslation>>

<div class="column_content">
    <h2 class="page_title">Notícias</h2>
    <table class="table" style="text-align:justify">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h3><b>@Html.DisplayFor(modelItem => item.Entity.Translations.LastOrDefault().Title)</b></h3>
                    <h4>@Html.DisplayFor(modelItem => item.Entity.Translations.LastOrDefault().Heading)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Entity.Translations.LastOrDefault().TextContent)</p>
                    <p>@Html.DisplayFor(modelItem => item.Entity. Attachments.LastOrDefault().FileName)</p>
                    <h5>@Html.DisplayFor(modelItem => item.Entity.PublishDate)</h5><br />
                    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index", new { id = item.Entity.Id })
                </td>
            </tr>
        }
    </table>
</div>