@model IEnumerable<TranslatedViewModel<NewsItem, NewsItemTranslation>>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<div class="column_content">
    <h2 class="page_title">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.News)</h2>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h3><b>@Html.DisplayFor(modelItem => item.Translation.Title)</b></h3>
                    <h4>@Html.DisplayFor(modelItem => item.Translation.Heading)</h4>
                    <h5>@Html.DisplayFor(modelItem => item.Entity.PublishDate)</h5>
                    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.ReadNews, "Details", new { id = item.Entity.Id })
                </td>
            </tr>
        }
    </table>
</div>

