@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.NewsItem>

<div class="column_content">
    <h2 class="page_title">Notícias</h2>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h3>@Html.DisplayFor(modelItem => item.Translations.LastOrDefault().Title)</h3>
                    <h4>@Html.DisplayFor(modelItem => item.Translations.LastOrDefault().Heading)</h4>
                    <h5>@Html.DisplayFor(modelItem => item.PublishDate)</h5>
                    @*<h5>@Html.DisplayFor(modelItem => item.TextContent)</h5>*@
                    @Html.ActionLink("Ler notícia", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>


@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}