@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
    ViewBag.Id = Model.Id ?? ViewBag.Id;
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
                </a>
            </div>

            <div class="btn-group">
                <a class="btn btn-default" title="@UiStrings.Edit" href="@Url.Action("Edit", new { Id = ViewBag.Id })">
                    <span class="glyphicon glyphicon-edit"></span> @UiStrings.Edit
                </a>

                <a class="btn btn-danger" title="@UiStrings.Delete" href="@Url.Action("Delete", new { Id = ViewBag.Id })" data-afsm-show-modal="true" data-afsm-delete-warning="@UiPrompts.ConfirmDelete">
                    <span class="glyphicon glyphicon-floppy-remove"></span> @UiStrings.Delete
                </a>
            </div>

            @RenderSection("ExtraActions", required: false)
        </div>


    </div>

    <div class="panel-body">
        @RenderBody()
    </div>
</div>

@RenderSection("additionalContent", required: false)

@section scripts {
    @RenderSection("scripts", required: false)
}

<style>
    .dl-horizontal dd, .dl-horizontal dt {
        line-height: 27px;
    }
</style>