@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section AdditionalStyles {
    @Styles.Render("~/Content/datepicker-bootstrap")
}

<h2>@ViewBag.Title</h2>

<hr />

@*<div style="max-width: 1024px" class="center-block">

        @RenderBody()
    </div>*@

@RenderBody()

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-date-picker")
    @*<script type="text/javascript" src="~/Scripts/locales/bootstrap-datepicker.@(System.Threading.Thread.CurrentThread.CurrentUICulture.Name).js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('[data-provide=datetimepicker]').datetimepicker();
    </script>

    @Scripts.Render("~/Scripts/backoffice/extras", "~/Scripts/backoffice/quill")

    @RenderSection("scripts", required: false)
}