@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section headscripts {
    @Styles.Render("~/Content/Styles/frontoffice/afsm-animations.css")
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="panel panel-default" data-afsm-ajax="true" data-afsm-id="#afsm-list-contents">
    <div class="panel-heading">
        <div class="pull-left">
            <div class="btn-toolbar" role="toolbar">
                <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
                </a>
                <a class="btn btn-primary" title="@UiStrings.Create" href="@Url.Action("Create")">
                    <span class="glyphicon glyphicon-plus"></span> @UiStrings.New
                </a>
            </div>
            @RenderSection("panelheader", required: false)
        </div>
        <div class="pull-right">
            <form method="get"
                  class="form-inline"
                  data-afsm-ajax="true"
                  action="@Url.Action("Index")">
                <div class="input-group">
                    <input type="search" class="form-control" name="query" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <div class="afsm-dohighlight">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_DeleteConfirmModal")
    @Scripts.Render("~/bundles/scripts/backoffice/delete-modal")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/frontoffice/ajax-pagination.js")
}