@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section headscripts {
    @Styles.Render("~/Content/Styles/frontoffice/afsm-animations.css")
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="panel panel-default" data-afsm-ajax="true" data-afsm-id="#afsm-list-contents">
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
            </a>
            <a class="btn btn-primary" title="@UiStrings.Create" href="@Url.Action("Create")">
                <span class="glyphicon glyphicon-plus"></span> @UiStrings.New
            </a>
        </div>

        @RenderSection("panelheader", required: false)
    </div>

    <div>
        <div class="afsm-dohighlight">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_DeleteConfirmModal")
    @Scripts.Render("~/bundles/scripts/backoffice/delete-modal")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/frontoffice/ajax-pagination.js")
}