@*<form class="btn-group" method="post" action="@Url.Action("Delete", new { id = item.Id })">
        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Details">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>

        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Edit">
            <span class="glyphicon glyphicon-edit"></span>
        </a>

        @Html.AntiForgeryToken()
        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
            <span class="glyphicon glyphicon-floppy-remove"></span>
        </a>
    </form>*@

<form class="btn-group" method="post" action="@Url.Action("Delete")">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</form>