@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@if (Request.IsAuthenticated)
{
    var userId = User.Identity.GetUserId();

    using (var manager =
        new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext())))
    {
        var currentUser = manager.FindById(userId);

        <form method="post" action="@Url.Action("LogOff", "Account")" id="logoutForm" class="navbar-right">
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Manage", "Account")" title="@AuthStrings.Manage">
                        @String.Format(AuthStrings.Format_Greeting, currentUser.RealName ?? currentUser.UserName)
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">@AuthStrings.LogOff</a>
                </li>
            </ul>
        </form>
    }
}
