@model Event

@{
    ViewBag.Title = EventStrings.DetailsTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_DetailsPageLayout.cshtml";
}

@section ExtraActions {
    @if (Model.Translations.Count < LanguageDefinitions.Languages.Count)
    {
        <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("AddTranslation", new { id = Model.Id })">
                <span class="glyphicon glyphicon-plus"></span> @UiStrings.AddTranslation
            </a>
        </div>
    }
}

<ul class="nav nav-tabs">
    @for (int i = 0; i < Model.Translations.Count(); i++)
    {
        var langCode = Model.Translations[i].LanguageCode;
        <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
            <a href="#@langCode"
               role="tab"
               data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
        </li>
    }
</ul>

<div class="tab-content">

    @foreach (var t in Model.Translations)
    {

        var langCode = t.LanguageCode;

        <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
             id="@langCode">

            <hr style="visibility: hidden" />


            <dl class="dl-horizontal">
                @Html.Partial("_EventTranslationDisplay", t)
            </dl>

            @if (langCode != LanguageDefinitions.DefaultLanguage)
            {
                <a href="@Url.Action("DeleteTranslation", new { id = Model.Id, languageCode = langCode })">
                    Remover tradução
                </a>
            }
        </div>
    }
</div>

<dl class="dl-horizontal">
    
    <dt>
        @Html.DisplayNameFor(model => model.EventType)
    </dt>

    <dd>
        @Html.EnumDisplayFor(model => model.EventType)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.VisitorInformation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VisitorInformation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartMoment)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartMoment)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndMoment)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndMoment)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PublishDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PublishDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ExpiryDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ExpiryDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HideAfterExpiry)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HideAfterExpiry, "YesNoDisplayFor")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Place)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Place)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Coordinates)
    </dt>

    <dd>
        <div id="map_canvas" style="width:100%; height: 400px" data-afsm-coords="@Model.Coordinates"></div>
    </dd>
</dl>

@section scripts {
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Scripts/frontoffice/gmaps-readonly.js"></script>
}

