@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

<div id="afsm-image-list">
    @if (Model.Count() > 0)
    {
        <div class="row afsm-dohighlight">
            @foreach (var img in Model)
            {
                <div class="afsm-thumb col-sm-6 col-md-4">
                    <a href="@Url.Action("Details", "Images", new { img.Entity.Id })"
                       class="thumbnail">
                        @if (img.Entity.ImageUrl != null)
                        {
                            <img data-afsm-show-overlay="true"
                                 data-afsm-target="#afsm-overlay"
                                 data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (img.Entity.ImageUrl) + "_large.jpg")"
                                 data-afsm-description="@Html.DisplayFor(modelItem => img.Translation.Description)"
                                 src="~/Public/Images/@(img.Entity.ImageUrl)_thumb.jpg" />
                        }
                        else
                        {
                            <img src="~/Content/Images/no-image.png" />
                        }
                        <div class="caption">
                            <h4>
                                @Html.Truncate(img.Translation.Title, 30)
                                <small>
                                    &nbsp;@img.Entity.ImageCode
                                </small>
                            </h4>
                            <p>
                                <small>@Html.Truncate(img.Translation.Description, 80)</small>
                            </p>
                        </div>
                    </a>
                </div>
            }

        </div>
        <div class="text-center afsm-pagination">
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", "Images", new { pageNumber = p, query = ViewBag.Query, keywordId = ViewBag.KeywordId, classificationId = ViewBag.ClassificationId, documentId = ViewBag.DocumentId, collectionId = ViewBag.CollectionId }))
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            @LayoutStrings.NoItems
        </div>
    }
</div>
