@model TranslatedViewModel<Image, ImageTranslation>

@{
    ViewBag.Title = "Details";
}
<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</h2>
<div>
    <hr />
        <a href="~/Collections">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Collections)</a><b>&#9658</b><a href="~/Documents/Index/@Model.Entity.DocumentId">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Documents)</a><b>&#9658</b><a href="~/Images/Index/@Model.Entity.DocumentId">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Images)</a><b> &#9658 </b><b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</b>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Title)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Subject)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Localization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Location)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.ProductionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.ProductionDate)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Description)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Publication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Publication)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index", new { id = Model.Entity.DocumentId })
</p>
