@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Image

@{
    ViewBag.Title = "Details";
}
<h2>Informações sobre a imagem</h2>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translations.LastOrDefault().Publication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translations.LastOrDefault().Publication)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", new { id = Model.DocumentId })
</p>
