@model ImageDetailsViewModel

@{
    ViewBag.Title = Model.Image.Translation.Title;

    var logo = Model.Image.Entity.ImageUrl != null ?
        "Public/Images/" + Model.Image.Entity.ImageUrl + "_thumb.jpg" :
        "Content/Images/no-image.png";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li>
        <a href="@Url.Action("Details", "Collections", new { id = Model.Image.Entity.Document.CollectionId })">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>

    <li>
        <a href="@Url.Action("Details", "Documents", new { id = Model.Image.Entity.DocumentId })">
            @DocumentStrings.EntityNamePlural
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Images", new { documentId = Model.Image.Entity.DocumentId })">
            @ImageStrings.EntityNamePlural
        </a>
    </li>

    <li class="active">
        @Model.Image.Translation.Title
    </li>
</ol>

<div class="row afsm-detail-header">
    <div class="col-sm-4">
        @if (Model.Image.Entity.ImageUrl != null && Model.Image.Entity.ShowImage)
        {
            <a href="@Url.Content("~/Public/Images/" + (Model.Image.Entity.ImageUrl) + "_large.jpg")"
               class="thumbnail">
                <img data-afsm-show-overlay="true"
                     data-afsm-target="#afsm-overlay"
                     data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (Model.Image.Entity.ImageUrl) + "_large.jpg")"
                     data-afsm-description="@Html.DisplayFor(modelItem => Model.Image.Translation.Description)"
                     src="~/Public/Images/@(Model.Image.Entity.ImageUrl)_thumb.jpg" />
            </a>

            @section scripts {
                @Html.Partial("_ImageOverlay")
            }
        }
        else
        {
            <img src="~/Content/Images/no-image.png" class="img-responsive" />
        }
    </div>

    <div class="col-sm-8">
        <h3>
            @Model.Image.Translation.Title <small>@Model.Image.Entity.ImageCode</small>
        </h3>

        <dl class="afsm-dl-vertical">

            <dt>
                @(Html.DisplayNameFor(model => model.Image.Entity.ProductionDate))
            </dt>

            <dd>
                @Model.Image.Entity.ProductionDate
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image.Entity.Document)
            </dt>

            <dd>
                <a href="@Url.Action("Details", "Documents", new { id = Model.Image.Entity.DocumentId })">
                    @Model.Image.Entity.Document.Title
                </a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Classification.Translation.Value)
            </dt>

            <dd>
                <a target="_blank" href="@Url.Action("Index", "Images", new { classificationId = Model.Classification.Entity.Id })">
                    @Model.Classification.Translation.Value
                </a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image.Entity.Keywords)
            </dt>
            <dd>
                <ul class="list-inline">
                    @foreach (var kw in Model.Keywords)
                    {
                        <li>
                            <a target="_blank" href="@Url.Action("Index", "Images", new { keywordId = kw.Entity.Id })">
                                @kw.Translation.Value
                            </a>
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
</div>

<hr class="hidden-xs" />

<dl class="afsm-dl-vertical">
    <dt>
        @Html.DisplayNameFor(model => model.Image.Translation.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Image.Translation.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Image.Translation.Subject)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Image.Translation.Subject)
    </dd>


    @if (!string.IsNullOrEmpty(Model.Image.Translation.Publication))
    {
        <dt>
            @Html.DisplayNameFor(model => model.Image.Translation.Publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Translation.Publication)
        </dd>
    }

    @if (Model.Specimens.Count() > 0)
    {
        <dt>
            @SpecimenStrings.Annotation
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var refCode in Model.Specimens.Select(s => s.Entity.Annotation))
                {
                    <li>@refCode</li>
                }
            </ul>
        </dd>

        <dt>
            @SpecimenStrings.AuthorCatalogationCode
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var authorCode in Model.Specimens.Select(s => s.Entity.AuthorCatalogationCode))
                {
                    <li>@authorCode</li>
                }
            </ul>
        </dd>

        <dt>
            @FormatStrings.EntityName
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var format in Model.Formats)
                {
                    <li>@format.FormatDescription</li>
                }
            </ul>
        </dd>

        <dt>
            @ProcessStrings.EntityName
        </dt>
        <dd>
            <ul class="list-inline">
                @foreach (var process in Model.Processes)
                {
                    <li>@process.Translation.Value</li>
                }
            </ul>
        </dd>
    }
</dl>

