@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

@{
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

@section additionalheadcontent {
    @Styles.Render("~/Content/Styles/Images.css")
}

<h2>@ImageStrings.EntityNamePlural</h2>

<hr />

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Collections")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li class="active">
        @ImageStrings.EntityNamePlural
    </li>
</ol>

<div class="row">
    @foreach (var img in Model)
    {
        <div class="afsm-thumb col-sm-6 col-lg-4">
            <a href="@Url.Action("Details", "Images", new { img.Entity.Id })"
               class="thumbnail">
                @if (img.Entity.ImageUrl != null)
                {
                    <img data-afsm-show-overlay="true"
                         data-afsm-target="#afsm-overlay"
                         data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (img.Entity.ImageUrl) + "_large.jpg")"
                         data-afsm-description="@Html.DisplayFor(modelItem => img.Translation.Description)"
                         src="~/Public/Images/@(img.Entity.ImageUrl)_thumb.jpg" />
                }
                else
                {
                    <img src="~/Content/Images/no-image.png" />
                }
                <div class="caption">
                    <h4>
                        @Html.Truncate(img.Translation.Title, 30)
                        <small>
                            &nbsp;@img.Entity.ImageCode
                        </small>
                    </h4>
                    <p>
                        <small>@Html.Truncate(img.Translation.Description, 80)</small>
                    </p>
                </div>
            </a>
        </div>
    }
</div>

@section scripts {
    <div id="afsm-overlay" class="afsm-overlay hidden">
        <div class="afsm-overlay-container center-block">
            <div class="img-container">
                <img class="afsm-overlay-image img-responsive">
            </div>
            <div class="overlay-description">
                <p class="afsm-image-description">
                </p>
            </div>
            <div>
                <button type="button" data-afsm-close-overlay="#afsm-overlay" class="btn btn-default">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Close)</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/frontoffice/overlay-image.js")
}
