@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ImageTranslation>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<h2>Imagens</h2>

<style type="text/css">
    .afsm-overlay {
        z-index: 10000;
        background-color: rgba(0,0,0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .afsm-overlay-container {
        position: relative;
        top: 0;
        width: 60%;
        height: 100%;
        margin: 0 auto 0 auto;
        background: #101010;
        color: #888;
        padding-top: 10%;
    }

    .afsm-overlay-image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    .img-container {
        position: relative;
        height: 70%;
        margin-bottom: 5%;
    }

    .overlay-description {
        position: relative;
        height: 15%;
    }

</style>

@foreach (var img in Model)
{
    <div class="media col-md-6">
        <a class="pull-left"
           href="@Url.Action("ViewImage", "Images", new { id = img.ImageId })">
            <img class="media-object"
                 data-afsm-show-overlay="true"
                 data-afsm-target="#afsm-overlay"
                 data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (img.Image.ImageUrl) + "_large.jpg")"
                 style="width: 96px; height: 96px"
                 data-afsm-description="@Html.DisplayFor(modelItem => img.Description)"
                 src="~/Public/Images/@(img.Image.ImageUrl)_thumb.jpg" />
        </a>

        <div class="media-body">
            <h4 class="media-heading">
                @Html.ActionLink(img.Title, "ViewImage", "Images", new { id = img.ImageId }, null)
            </h4>
            <p style="font-size:small">
                @Html.DisplayFor(modelItem => img.Subject)
            </p>
            <p style="font-size:smaller">
                @Html.ActionLink("Informações", "Details", new { id = img.ImageId })
            </p>
        </div>
    </div>
}

@section scripts {
    <div id="afsm-overlay" class="afsm-overlay hidden">
        <div class="afsm-overlay-container center-block">
            <div class="img-container">
                <img class="afsm-overlay-image img-responsive">
            </div>

            <div class="overlay-description">

                <p class="afsm-image-description">

                </p>

                <button type="button" data-afsm-close-overlay="#afsm-overlay" class="btn btn-default">Fechar</button>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/frontoffice/overlay-image.js")   
}




