@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ImageTranslation>

<h2>Imagens</h2>
<hr />
@if (@Model.GetEnumerator()!=null){
<a href="~/Collections">Acervo </a><b>&#9658</b> <a href="~/Documents/Index/@Model.LastOrDefault().Image.DocumentId">Documentos</a><b> &#9658 </b><b>Imagens</b>
 }
<hr />

@Styles.Render("~/Content/Styles/Images.css")

<div class="media">
    <ul class="media-list">
        @foreach (var img in Model)
        {
            <li class="media-body col-md-4 list-group">
                <a class="pull-left"
                   href="@Url.Action("ViewImage", "Images", new { id = img.ImageId })">
                    <img class="media-object"
                         data-afsm-show-overlay="true"
                         data-afsm-target="#afsm-overlay"
                         data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (img.Image.ImageUrl) + "_large.jpg")"
                         style="width: 96px; height: 96px"
                         data-afsm-description="@Html.DisplayFor(modelItem => img.Description)"
                         src="~/Public/Images/@(img.Image.ImageUrl)_thumb.jpg" />
                </a>
                <h4 class="media-heading">
                    @Html.DisplayFor(modelItem => img.Title)
                </h4>
                <p style="font-size:small">
                    @Html.DisplayFor(modelItem => img.Subject)
                </p>
                <p style="font-size:smaller">
                    @Html.ActionLink("Informações", "Details", new { id = img.ImageId })
                </p>
            </li>
        }
    </ul>
</div>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

@section scripts {
    <div id="afsm-overlay" class="afsm-overlay hidden">
        <div class="afsm-overlay-container center-block">
            <div class="img-container">
                <img class="afsm-overlay-image img-responsive">
            </div>
            <div class="overlay-description">
                <p class="afsm-image-description">
                </p>
            </div>
            <div>
                <button type="button" data-afsm-close-overlay="#afsm-overlay" class="btn btn-default">Fechar</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/frontoffice/overlay-image.js")
}
