@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

@{
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li class="active">
        @ImageStrings.EntityNamePlural
    </li>
</ol>

<h2>@ImageStrings.EntityNamePlural</h2>

<hr />

<div class="row">
    @foreach (var img in Model)
    {
        <div class="afsm-thumb col-sm-6 col-lg-4">
            <a href="@Url.Action("Details", "Images", new { img.Entity.Id })"
               class="thumbnail">
                @if (img.Entity.ImageUrl != null)
                {
                    <img data-afsm-show-overlay="true"
                         data-afsm-target="#afsm-overlay"
                         data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (img.Entity.ImageUrl) + "_large.jpg")"
                         data-afsm-description="@Html.DisplayFor(modelItem => img.Translation.Description)"
                         src="~/Public/Images/@(img.Entity.ImageUrl)_thumb.jpg" />
                }
                else
                {
                    <img src="~/Content/Images/no-image.png" />
                }
                <div class="caption">
                    <h4>
                        @Html.Truncate(img.Translation.Title, 30)
                        <small>
                            &nbsp;@img.Entity.ImageCode
                        </small>
                    </h4>
                    <p>
                        <small>@Html.Truncate(img.Translation.Description, 80)</small>
                    </p>
                </div>
            </a>
        </div>
    }
</div>

@section scripts {
    @Html.Partial("_ImageOverlay")
}
