@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ImageTranslation>

@*@{
    ViewBag.Title = "Index";
}*@
<h2>Imagens</h2>

@foreach (var img in Model)
{
    <div class="media col-md-6">
        <a class="pull-left" href="@Url.Action("ViewImage", "Images", new { id= img.ImageId})">
            <img class="media-object" style="width:96px; height: 96px" src="~/Public/Images/@(img.Image.ImageUrl)_thumb.jpg">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                @Html.ActionLink(img.Title, "ViewImage", "Images", new { id= img.ImageId},null)
            </h4>
            <p>
                @Html.DisplayFor(modelItem => img.Description)
            </p>
            <p style="font-size:small">
                @Html.DisplayFor(modelItem => img.Subject)
            </p>
            <p style="font-size:smaller">
                @Html.ActionLink("Informações", "Details", new { id = img.ImageId })
            </p>
        </div>
    </div>
}

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}
