@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

@{
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>

    <li class="active">
        @ImageStrings.EntityNamePlural
    </li>
</ol>

<h2>@ImageStrings.EntityNamePlural</h2>

<hr />

@Html.Partial("_ImageList")

@section scripts {
    @Html.Partial("_ImageOverlay")
}
