@model Event

<dt>
    @Html.DisplayNameFor(model => model.EventType)
</dt>

<dd>
    @Html.EnumDisplayFor(model => model.EventType)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.VisitorInformation)
</dt>

<dd>
    @Html.DisplayFor(model => model.VisitorInformation)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.StartMoment)
</dt>

<dd>
    @Html.DisplayFor(model => model.StartMoment)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.EndMoment)
</dt>

<dd>
    @Html.DisplayFor(model => model.EndMoment)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.PublishDate)
</dt>

<dd>
    @Html.DisplayFor(model => model.PublishDate)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.ExpiryDate)
</dt>

<dd>
    @Html.DisplayFor(model => model.ExpiryDate)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.HideAfterExpiry)
</dt>

<dd>
    @Html.DisplayFor(model => model.HideAfterExpiry, "YesNoDisplayFor")
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Place)
</dt>

<dd>
    @Html.DisplayFor(model => model.Place)
</dd>

<dt>
    @EventStrings.Coordinates
</dt>

<dd>
    <div id="map_canvas" style="width:100%; height: 400px"
         data-afsm-lat="@Model.Latitude"
         data-afsm-lng="@Model.Longitude"></div>
</dd>
