@model Archive

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do arquivo</h2>

<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
      </dl>
        <hr />
    <h4>Informação</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveMission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveMission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveHistory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveHistory)
        </dd>
     </dl>
    <hr />
    <h4>Contacto</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}