@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ShowcasePhoto>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <title>AFSM</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="./scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="./flex-slider/jquery.flexslider-min.js"></script>
    <script src="scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="scripts/jquery.knob.js" type="text/javascript"></script>
    <script type="text/javascript" src="./scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="./scripts/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="./scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="./scripts/setup.js"></script>

</head>
<body>
    <div id="wrap">
        <!-- wrapper -->
        <div id="sidebar">
            <!-- the  sidebar -->
            <!-- logo -->

            <a href="#" id="logo"> <img src="../images/logo.png" alt="" /></a>
            <a href="#" id="logo"> <img src="../images/cmt.png" alt="" /></a>

            <!-- navigation menu -->
            <ul id="navigation">
                <li><a href="../Home/Index">IN&#205;CIO</a></li>
                <li><a href="#ShowCasePhotoes" class="active">DESTAQUE</a></li>
                <li><a href="../Archives">ACERVO</a></li>
                <li><a href="../Home/Pesquisa">PESQUISA</a></li>
                <li><a href="../News">NOT&#205;CIAS</a></li>
                <li><a href="../Events">EVENTOS</a></li>
                <li><a href="../Home/Historia">HIST&#211;RIA</a></li>
                <li><a href="../TechnicalDocuments">DOCUMENTOS T&#201;CNICOS</a></li>
                @*<li><a href="Loja">LOJA</a></li>*@
                <li><a href="../Contacts">CONTACTOS</a></li>
                <li><a href="../ReferencedLinks">LINKS &#218;TEIS</a></li>
                <li><a href="../Partnerships">PROJETOS E PARCERIAS</a></li>
            </ul>
        </div>
        <div id="container">
            <!-- page container -->
            <div class="page" id="">
                <!-- page home -->
                <div class="page_content">
                    <!-- lateral direita -->
                    <div class="">
                        <div class="column_content">
                            <h3 class="page_title">Fotografia em destaque</h3>
                            <img src="../images/destaque.jpg" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
                            <div class="space"> </div>
                            <div class="clear"> </div>

                        </div>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommenterName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommenterEmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsEmailVisible)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VisibleSince)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DigitalPhotographId)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommenterName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommenterEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsEmailVisible)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VisibleSince)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DigitalPhotographId)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                    <div class="footer">
                        <p> &copy; 2014 AFSM</p>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>
