@model ArquivoSilvaMagalhaes.Models.ArchiveModels.DigitalPhotograph

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DigitalPhotograph</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specimen.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specimen.CatalogCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyrightInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyrightInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
