@model ArquivoSilvaMagalhaes.Models.ArchiveModels.DigitalPhotograph

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DigitalPhotograph</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specimen.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specimen.CatalogCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyrightInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyrightInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
