@model IEnumerable<TranslatedViewModel<Collection, CollectionTranslation>>

<div id="afsm-list">
    @if (Model.Count() > 0)
    {
        <div class="list-group afsm-dohighlight">
            @foreach (var col in Model)
            {
                var logo = col.Entity.LogoLocation != null ?
                "Public/Collections/" + col.Entity.LogoLocation :
                "Content/Images/no-image-100.png";
                <a href="#" class="list-group-item" data-afsm-value="@col.Entity.Id">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" style="width: 96px; height: 96px"
                                 src="~/@logo">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @Html.DisplayFor(model => col.Translation.Title) <small>@col.Entity.CatalogCode</small>
                            </h4>

                            <dl>
                                <dt>
                                    @CollectionStrings.ProductionPeriod
                                </dt>
                                <dd>
                                    @col.Entity.ProductionPeriod
                                </dd>
                            </dl>

                            <p>@Html.Truncate(col.Translation.Description, 50)</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="text-center afsm-pagination">
            @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("AuxList", "Collections", Url.AddQueryStringToRoute(ViewContext.RouteData.Values, Request, new { pageNumber = p })), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
        </div>
    }
    else
    {
        <div class="alert alert-warning afsm-dohighlight" role="alert">
            @LayoutStrings.NoItems
        </div>
    }

</div>
