@model CollectionEditViewModel

@{
    ViewBag.Title = CollectionStrings.EditTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Collections", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Collection.LogoLocation)
    @Html.HiddenFor(model => model.Collection.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.ValidationSummary(true)

        <ul class="nav nav-tabs">
            @for (int i = 0; i < Model.Collection.Translations.Count(); i++)
            {
                var langCode = Model.Collection.Translations[i].LanguageCode;
                <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                    <a href="#@langCode"
                       role="tab"
                       data-toggle="tab">@langCode</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <hr style="visibility: hidden" />
            @for (var i = 0; i < Model.Collection.Translations.Count; i++)
            {
                var langCode = Model.Collection.Translations[i].LanguageCode;

                <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                     id="@langCode">

                    @Html.PartialFor(model => model.Collection.Translations[i], "_CollectionTranslateableFields")
                </div>
            }
        </div>

        <hr />

        @Html.PartialFor(model => model.Collection, "_CollectionMainFields")

        @Html.Partial("_CollectionDropDownLists")

        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.FileUploadFor(model => model.Logo, htmlAttributes: new { accept = "image/*", @class = "form-control-static" })
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                <p class="help-block">@CollectionStrings.LogoRecommendation</p>
            </div>
        </div>

        @Html.Partial("_SubmitBackPartial", LayoutStrings.Done)
    </div>
}