@model NewsItemViewModels

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NewsText</h4>
        <hr />
        @Html.ValidationSummary(true)
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.LanguageCode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LanguageCode)
            @Html.ValidationMessageFor(model => model.LanguageCode)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subtitle, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subtitle)
            @Html.ValidationMessageFor(model => model.Subtitle)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Heading, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Heading)
            @Html.ValidationMessageFor(model => model.Heading)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TextContent, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TextContent)
            @Html.ValidationMessageFor(model => model.TextContent)
        </div>

    </div>

}