@model NewsItemViewModel

@{
    ViewBag.Title = NewsItemStrings.CreateTitleFormat;

    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.PartialFor(model => model.NewsItem.Translations[0], "_NewsItemTranslateableFields")

        @Html.PartialFor(model => model.NewsItem, "_NewsItemMainFields")

        @Html.Partial("_SubmitBackPartial", UiStrings.Create)
    </div>
}
