@model ArquivoSilvaMagalhaes.Models.SiteModels.NewsItem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NewsItem</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PublishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishDate)
                @Html.ValidationMessageFor(model => model.PublishDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate)
                @Html.ValidationMessageFor(model => model.ExpiryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HideAfterExpiry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HideAfterExpiry)
                @Html.ValidationMessageFor(model => model.HideAfterExpiry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreationDate)
                @Html.ValidationMessageFor(model => model.CreationDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModificationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModificationDate)
                @Html.ValidationMessageFor(model => model.LastModificationDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReferencedNewsItems, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferencedNewsItems)
                @Html.ValidationMessageFor(model => model.ReferencedNewsItems)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReferencedNewsText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    @Html.EditorFor(model => model.ReferencedNewsText, new { htmlAttributes = new { @class = "Text-Control" }})
                    @Html.ValidationMessageFor(model => model.ReferencedNewsText, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReferencedDocuments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferencedDocuments)
                @Html.ValidationMessageFor(model => model.ReferencedDocuments)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Links, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Links)
                @Html.ValidationMessageFor(model => model.ReferencedNewsText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar á lista de notícias", "Index")
</div>
