@model NewsItemViewModel

@{
    ViewBag.Title = NewsItemStrings.EditTitleFormat;

    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <ul class="nav nav-tabs">
            @for (int i = 0; i < Model.NewsItem.Translations.Count(); i++)
            {
                var langCode = Model.NewsItem.Translations[i].LanguageCode;
                <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                    <a href="#@langCode"
                       role="tab"
                       data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <hr style="visibility: hidden" />
            @for (var i = 0; i < Model.NewsItem.Translations.Count; i++)
            {
                var langCode = Model.NewsItem.Translations[i].LanguageCode;
                ViewBag.Index = i;
                <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                     id="@langCode">

                    @Html.PartialFor(model => model.NewsItem.Translations[i], "_NewsItemTranslateableFields")
                </div>
            }
        </div>

        <hr />

        @Html.PartialFor(model => model.NewsItem, "_NewsItemMainFields")

        @Html.Partial("_SubmitBackPartial", UiStrings.Done)
    </div>
}
