@model ArquivoSilvaMagalhaes.Models.ArchiveModels.ShowcasePhoto

<h2>Informações</h2>
    <hr />
<div>
    <dl>
        <dt>
            <b>@Html.DisplayNameFor(model => model.CommenterName):</b>

        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.CommenterName)
        </dd>
        <dt>
            <b> @Html.DisplayNameFor(model => model.CommenterEmail):</b>

        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.CommenterEmail)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>

