@model TranslatedViewModel<ShowcasePhoto, ShowcasePhotoTranslation>

<h2>@Html.DisplayFor(model => model.Translation.Title)</h2>

<hr />
<div>
    <dl>
        <dt>
            <strong>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CommentatorName)</strong>

        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Entity.CommenterName)
        </dd>
        <dt>
            <strong>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Email)</strong>

        </dt>
        <dd>
            @if (Model.Entity.IsEmailVisible)
            {
                @Html.DisplayFor(modelItem => modelItem.Entity.CommenterEmail)
            }
            else
            {
                @FrontOfficeStrings.EmailNotVisible
            }
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>

