@model TranslatedViewModel<ShowcasePhoto, ShowcasePhotoTranslation>

@{
    ViewBag.Title = Model.Translation.Title;
}

<div class="afsm-header-image afsm-negate-padding"
     data-afsm-show-overlay="true"
     data-afsm-target="#afsm-overlay"
     data-afsm-large-image-url="@Url.Content("~/Public/Images/" + (Model.Entity.Image.ImageUrl) + "_large.jpg")"
     style="background-image: url('@Url.Content("~/Public/Images/" + Model.Entity.Image.ImageUrl + "_large.jpg")')">
    <div class="afsm-header">
        <h2>@Html.DisplayFor(model => model.Translation.Title)</h2>

        <p>
            @Model.Entity.CommenterName

            @if (Model.Entity.IsEmailVisible)
            {
                <small>
                    @Html.DisplayFor(model => model.Entity.CommenterEmail)
                </small>
            }
        </p>

        <p>
            @Html.DisplayFor(model => Model.Entity.VisibleSince)
        </p>
    </div>
</div>

<div class="afsm-commentary">
    @Html.DisplayFor(model => model.Translation.Comment)
</div>

@section scripts {
    @Html.Partial("_ImageOverlay")
}
