@model ArquivoSilvaMagalhaes.Models.ArchiveModels.ShowcasePhoto

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</h2>
    <hr />
<div>
    <dl>
        <dt>
            <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.CommentatorName):</b>

        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.CommenterName)
        </dd>
        <dt>
            <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Email):</b>

        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.CommenterEmail)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>

