@model TranslatedViewModel<ShowcasePhoto, ShowcasePhotoTranslation>

@{
    ViewBag.Title = Model.Translation.Title;
}

<div class="afsm-header-image row"
     style="background-image: url('@Url.Content("~/Public/Images/" + Model.Entity.Image.ImageUrl + "_large.jpg")')">
    <div class="afsm-header">
        <h2>@Html.DisplayFor(model => model.Translation.Title)</h2>

        <p>
            @Model.Entity.CommenterName

            @if (Model.Entity.IsEmailVisible)
            {
                <small>
                    @Html.DisplayFor(model => model.Entity.CommenterEmail)
                </small>
            }
        </p>

        <p>
            @Html.DisplayFor(model => Model.Entity.VisibleSince)
        </p>
    </div>
</div>

<div class="afsm-commentary">
    @Html.DisplayFor(model => model.Translation.Comment)
</div>

@*@section scripts {
    <style>
        .afsm-header-image {
            background-size: cover;
            background-position: center center;
            height: 400px;
            display: flex;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            margin: -20px -40px 0 -40px;
        }

        .afsm-header-image > .afsm-header {
            padding: 10px 20px 10px 20px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
        }

        .afsm-commentary {
            margin-top: 20px;
        }

        .line:empty, .line > br {
            display: none;
        }

        .line + .line {
            margin-bottom: 25px;
        }
    </style>
}*@