@model IEnumerable<TranslatedViewModel<ShowcasePhoto, ShowcasePhotoTranslation>>

@{
    ViewBag.Title = ShowcasePhotoStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<h2 class="page_title">@Html.DisplayName(FrontOfficeStrings.ShowCase)</h2>
<hr />
<div class="space"> </div>
<div class="clear"> </div>

@foreach (var item in Model)
{
    <div align="center">
        <h4>@Html.DisplayFor(modelItem => item.Translation.Title)</h4>
        <img class="img-responsive" src="~/Public/Images/@(item.Entity.Image.ImageUrl)_large.jpg" />
        @Html.DisplayFor(modelItem => item.Entity.Image.Specimens)<br />
            <p align="justify"> @Html.DisplayFor(modelItem => item.Translation.Comment)</p>
            @Html.DisplayFor(modelItem => item.Entity.VisibleSince)
            <h6>@Html.ActionLink(FrontOfficeStrings.Informations, "Details", new { id = item.Entity.Id })</h6>
            <br />
    </div>
}
