@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

@{
    ViewBag.Title = ImageStrings.EntityNamePlural;
    Layout = "~/Areas/BackOffice/Views/Shared/_IndexPageLayout.cshtml";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Translation.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Entity.ImageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.ProductionDate)
            </th>
            <th>
                @UiStrings.Actions
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Translation.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Entity.ImageCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity.ProductionDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Entity.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Entity.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Entity.Id }) |
                @Html.ActionLink("Espécies", "Index", "Specimens", new { imageId = item.Entity.Id }, null)
            </td>
        </tr>
    }
</table>