@model ArquivoSilvaMagalhaes.Models.SiteModels.Event


<h2>Evento</h2>

<div>
    <hr />
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinates)
            @Html.HiddenFor(model => model.Coordinates, new { @class = "form-control" })
            <div id="map_canvas" style="width:100%; height: 400px" data-afsm-for="#@Html.IdFor(model => model.Coordinates)"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMoment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMoment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndMoment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndMoment)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>


@section scripts {
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
    @Scripts.Render("~/Scripts/backoffice/gmaps")
}
