@model ArquivoSilvaMagalhaes.Models.SiteModels.Event


<h2>@Html.DisplayFor(model => model.Translations.LastOrDefault().Title)</h2>

<div>
    <hr />
    <dl>
        <dd>
            <h4>@Html.DisplayFor(model => model.Translations.LastOrDefault().Heading)</h4>
        </dd>
        <dd>
            <p>@Html.DisplayFor(model => model.Translations.LastOrDefault().TextContent)</p>
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EventType)
        </dt>
        <dd>
            @Html.EnumDisplayFor(model => model.EventType)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EventPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>

        <dd>
            <div id="map_canvas" style="width:100%; height: 400px" data-afsm-coords="@Model.Coordinates"></div>
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.InformationVisitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorInformation)
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.InitialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMoment.Date.Day)/@Html.DisplayFor(model => model.StartMoment.Date.Month)/@Html.DisplayFor(model => model.StartMoment.Date.Year)
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndMoment.Date.Day)/@Html.DisplayFor(model => model.EndMoment.Date.Month)/@Html.DisplayFor(model => model.EndMoment.Date.Year)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>


@section scripts {
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="~/Scripts/frontoffice/gmaps-readonly.js"></script>
}
