@model IEnumerable<TranslatedViewModel<Event, EventTranslation>>


<h2>@Html.DisplayFor(model => model.LastOrDefault().Translation.Title)</h2>

<div>
    <hr />
    <a href="~/Events">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Events)</a> <b>&#9658</b> <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Informations)</b>
    <hr />
    <dl>
        <dd>
            <h4>@Html.DisplayFor(model => model.LastOrDefault().Translation.Heading)</h4>
        </dd>
        <dd>
            <p>@Html.DisplayFor(model => model.LastOrDefault().Translation.TextContent)</p>
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EventType)
        </dt>
        <dd>
            @Html.EnumDisplayFor(model => model.LastOrDefault().Translation.Event.EventType)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EventPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOrDefault().Entity.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastOrDefault().Entity.Coordinates)
        </dt>

        <dd>
            <div id="map_canvas" style="width:100%; height: 400px" data-afsm-coords="@Model.LastOrDefault().Entity.Coordinates"></div>
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.InformationVisitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOrDefault().Entity.VisitorInformation)
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.InitialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOrDefault().Entity.StartMoment.Date.Day)/@Html.DisplayFor(model => model.LastOrDefault().Entity.StartMoment.Date.Month)/@Html.DisplayFor(model => model.LastOrDefault().Entity.StartMoment.Date.Year)
        </dd>

        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOrDefault().Entity.EndMoment.Date.Day)/@Html.DisplayFor(model => model.LastOrDefault().Entity.EndMoment.Date.Month)/@Html.DisplayFor(model => model.LastOrDefault().Entity.EndMoment.Date.Year)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>


@section scripts {
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="~/Scripts/frontoffice/gmaps-readonly.js"></script>
}
