@model IEnumerable<TranslatedViewModel<Event, EventTranslation>>

@{
    ViewBag.Title = EventStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Events)</h2>

<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">
            <a class="pull-left" href="~/Events/Event/@item.Entity.Id" title="@item.Entity.EventType">
                <img class="media-object afsm-media-object" src="~/Images/@String.Concat(@Html.DisplayFor(modelItem => item.Entity.EventType),".png")" width="48" height="48" alt="...">
            </a>
            <div class="media-body">
                <a href="~/Events/Event/@item.Entity.Translations.LastOrDefault().EventId">
                    <h3 class="media-heading">@item.Translation.Title</h3>
                </a>
                <div>
                    <p>@Html.DisplayFor(model => item.Translation.Heading)</p>
                    <p>
                        @Html.Truncate(item.Translation.TextContent, 300)
                    </p>
                </div>
            </div>
        </li>
    }
</ul>
