@model IEnumerable<TranslatedViewModel<Event, EventTranslation>>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Events)</h2>

<hr />

<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">
            <a class="pull-left" href="~/Events/Event/@item.Entity.Id" title="@item.Entity.EventType">
                <img class="media-object afsm-media-object" src="~/Images/@String.Concat(@Html.DisplayFor(modelItem => item.Entity.EventType),".png")" width="48" height="48" alt="...">
            </a>
            <div class="media-body">
                <a href="~/Events/Event/@item.Entity.Translations.LastOrDefault().EventId">
                    <h4 class="media-heading">@item.Entity.Translations.LastOrDefault().Title</h4>
                </a>
                <div>
                    <p><b>@Html.DisplayFor(model => item.Translation.Title)</b></p>
                    <p id="text"></p>
                    @if (@Html.DisplayFor(model => item.Translation.TextContent).ToString().Count()>300)
                    {
                        <p>@Html.DisplayFor(model => item.Translation.TextContent).ToString().Substring(30, 330)</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => item.Translation.TextContent)</p>
                    }
                </div>
            </div>
        </li>
    }
</ul>
