@model PhotographViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Criar novo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div>
                <input type="file" accept="image/*" name="@Html.NameFor(model => model.Image)" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicationDate, new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.PublicationDate)
                @Html.ValidationMessageFor(model => model.PublicationDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemovalDate, new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.RemovalDate)
                @Html.ValidationMessageFor(model => model.RemovalDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.IsVisible)
                @Html.ValidationMessageFor(model => model.IsVisible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageCode, new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.LanguageCode)
                @Html.ValidationMessageFor(model => model.LanguageCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
       
    </div>
    @Html.Partial("_SubmitBackPartial")
}
