@model ArquivoSilvaMagalhaes.Models.SiteViewModels.PhotographViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do banner</h2>
<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a class="btn btn-danger" title="@UiStrings.Delete" href="@Url.Action("Delete", new { Id = Model.Id })">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UriPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UriPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
