@model ArquivoSilvaMagalhaes.Models.SiteModels.BannerPhotograph

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BannerPhotograph</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UriPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UriPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
