@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.BannerPhotograph>

@{
    ViewBag.Title = "Imagens Banner";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo banner", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UriPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemovalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVisible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UriPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemovalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVisible)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) <br />
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) <br />
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Início", "../Home")