@model ArquivoSilvaMagalhaes.Models.SiteModels.SpotlightVideo

@{
    ViewBag.Title = "Details";
}


<h2>Detalhes do video destaque</h2>
<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a class="btn btn-danger" title="@UiStrings.Delete" href="@Url.Action("Delete", new { Id = Model.Id })">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>
<div>
        
    <dl>
        <dt>
            <a href="@(Model.UriPath)" target="_blank">@Model.UriPath</a>
        </dt>
        <dt>

            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemotionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemotionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPermanent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPermanent)
        </dd>

    </dl>
    </div>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) <br />
        @Html.ActionLink("Voltar à lista", "Index")
    </p>

