@model IEnumerable<Specimen>

<div id="afsm-list-contents">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReferenceCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AuthorCatalogationCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Format.FormatDescription)
                </th>

                <th>@LayoutStrings.Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @String.Format("{0}/{1}", item.ReferenceCode, item.Annotation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorCatalogationCode)
                </td>

                <td>
                    @Html.EnumDisplayFor(modelItem => item.State)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Format.FormatDescription)
                </td>

                <td>
                    <form class="btn-group" method="post" action="@Url.Action("Delete", new { id = item.Id })">
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default" title="@LayoutStrings.Details">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>

                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default" title="@LayoutStrings.Edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a href="@Url.Action("Create", "DigitalPhotographs", new { specimenId = item.Id })" class="btn btn-default" title="@LayoutStrings.AssociatePicture">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>

                        @Html.AntiForgeryToken()
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="@LayoutStrings.Delete" data-afsm-show-modal="true" data-afsm-delete-warning="@SpecimenStrings.DeleteWarningMessage">
                            <span class="glyphicon glyphicon-floppy-remove"></span>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="panel-footer">
        <div class="text-center afsm-pagination">
            @*@Html.PagedListPager((IPagedList)Model, (p) => Url.Action("Index", new { pageNumber = p, query = ViewBag.Query, formatId = ViewBag.FormatId, processId = ViewBag.ProcessId }))*@
            @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("Index", Url.AddQueryStringToRoute(ViewContext.RouteData.Values, Request, new { pageNumber = p })))
        </div>
    </div>
</div>

