@model ReferencedLinkTranslation

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.LanguageCode)

<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>
