@model ReferencedLink

@{
    ViewBag.Title = ReferencedLinkStrings.CreateTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.Partial("_ReferencedLinkMainFields")

        @Html.PartialFor(model => model.Translations[0], "_ReferencedLinkTranslateableFields")

        @Html.Partial("_SubmitBackPartial", LayoutStrings.Create)
    </div>

}
