@model IEnumerable<TranslatedViewModel<Image, ImageTranslation>>

<div id="afsm-list">

    @if (Model.Count() > 0)
    {
        <div class="row afsm-dohighlight">
            @foreach (var img in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <a class="thumbnail" href="#" data-afsm-value="@img.Entity.Id">
                        @if (img.Entity.ImageUrl != null)
                        {
                            <img src="~/Public/Images/@(img.Entity.ImageUrl)_thumb.jpg">
                        }
                        else
                        {
                            <img src="~/Content/Images/no-image-400.png" />
                        }
                        <div class="caption">
                            <h4 class="text-center">@Html.Truncate(img.Translation.Title, 30) <small>@img.Entity.ImageCode</small></h4>
                        </div>
                    </a>
                </div>
            }

        </div>
        <div class="text-center afsm-pagination">
            @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("AuxList", Url.AddQueryStringToRoute(ViewContext.RouteData.Values, Request, new { pageNumber = p })), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
        </div>
    }
    else
    {
        <div class="alert alert-warning afsm-dohighlight" role="alert">
            @LayoutStrings.NoItems
        </div>
    }
</div>