@model ArquivoSilvaMagalhaes.Areas.BackOffice.ViewModels.SpotLightVideoModels

@{
    ViewBag.Title = "Create";
}


    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    <h2>Criar video destaque</h2>       
        <div class="form-horizontal">
 
            <hr />
            @Html.ValidationSummary(true)
            
            <div class="form-group">
                @Html.LabelFor(model => model.UriPath, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UriPath)
                </div>
            </div>
            

      @*      <div class="form-group">
        @Html.LabelFor(model => model.UriPath, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UriPath)
            @Html.ValidationMessageFor(model => model.UriPath)
        </div>
    </div> *@
    
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PublicationDate)
                    @Html.ValidationMessageFor(model => model.PublicationDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.RemotionDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RemotionDate)
                    @Html.ValidationMessageFor(model => model.RemotionDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsPermanent, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPermanent)
                    @Html.ValidationMessageFor(model => model.IsPermanent)
                </div>
            </div>
    
            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar" class="btn btn-default" />
                    <input type="button" value="Cancel" name="Cancelar" class="btn btn-default" style="background:red" />
                </div>
            </div>*@
        </div>
         @Html.Partial("_SubmitBackPartial")
    }
    
   