@model AppConfiguration

@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
    ViewBag.Title = SpotlightVideoStrings.EntityName;
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <a class="btn btn-primary" href="@Url.Action("Index", "Home", null)">
                <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
            </a>

            <a class="btn btn-default" title="@UiStrings.Edit" href="@Url.Action("Edit")">
                <span class="glyphicon glyphicon-edit"></span> @UiStrings.Edit
            </a>
        </div>
    </div>

    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="//www.youtube-nocookie.com/embed/@(Model.Value)?rel=0"
                    frameborder="0">
            </iframe>
        </div>
    </div>
</div>