@model IEnumerable<TranslatedViewModel<Document, DocumentTranslation>>

<div class="list-group">
    @foreach (var doc in Model)
    {
        <a href="@Url.Action("Details", "Documents", new { doc.Entity.Id })" class="list-group-item">
            <h4 class="list-group-item-heading">@Html.Truncate(doc.Entity.Title, 60) <small>@doc.Entity.CatalogCode</small></h4>
            <dl class="afsm-dl-vertical">
                <dt>
                    @DocumentStrings.DocumentDate
                </dt>
                <dd>
                    @Html.DisplayFor(model => doc.Entity.DocumentDate)
                </dd>

                <dt>
                    @DocumentStrings.DocumentLocation
                </dt>
                <dd>
                    @doc.Translation.DocumentLocation
                </dd>

            </dl>
        </a>
    }

    <div class="text-center">
        @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("Index", new { pageNumber = p }))
    </div>
</div>
