@{
    string currentAction = (Request.RequestContext.RouteData.Values["action"] as string) ?? "index";
    string currentController = (Request.RequestContext.RouteData.Values["controller"] as string) ?? "home";

    RouteValueDictionary ptRVD = new RouteValueDictionary(ViewContext.RouteData.Values);
    RouteValueDictionary enRVD = new RouteValueDictionary(ViewContext.RouteData.Values);
    foreach (string key in Request.QueryString.Keys)
    {
        ptRVD[key] = Request.QueryString[key].ToString();
        enRVD[key] = Request.QueryString[key].ToString();
    }
    ptRVD["culture"] = "pt";
    enRVD["culture"] = "en";
}

<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="application-name" content="Arquivo Fotográfico Silva Magalhães" />

    @* Apple Touch Icons *@
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="AFSM">

    @* "Modern" favicons. *@
    <link rel="icon" type="image/png" href="~/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="~/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">

    @* Windows 8 Tiles. *@
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="~/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="~/mstile-tiny.png" />
    <meta name="msapplication-square150x150logo" content="~/mstile-square.png" />
    <meta name="msapplication-wide310x150logo" content="~/mstile-wide.png" />
    <meta name="msapplication-square310x310logo" content="~/mstile-large.png" />

    <meta name="description" content="@LayoutStrings.SiteDescription" />

    <title>
        @ViewBag.Title @(!string.IsNullOrEmpty(ViewBag.Title) ? "| " : "")Arquivo Fotográfico Silva Magalhães
    </title>

    <link href='http://fonts.googleapis.com/css?family=Oswald|Merriweather' rel='stylesheet' type='text/css' />
    <link href="~/Content/Fonts/GlyphIcons/glyphicons.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/styles/frontoffice")

    @RenderSection("additionalheadcontent", required: false)
</head>
<body>

    <div id="afsm-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home", new { Area = "" })" class="navbar-brand" title="@LayoutStrings.SiteName">
                    <img style="max-height: 30px; margin-top: -5px" src="~/Content/Images/logo.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("EN", currentAction, currentController, enRVD, new Dictionary<string, object> { { "class", "pull-left" } })
                        @Html.ActionLink("PT", currentAction, currentController, ptRVD, new Dictionary<string, object> { { "class", "pull-left" } })
                        <div class="clearfix"></div>
                    </li>
                    @Html.Partial("_LayoutLinks")
                </ul>
            </div>
        </div>
    </div>

    <div id="afsm-page-container" class="container">
        <div class="row" style="position: relative">

            <div id="afsm-sidebar" class="col-sm-3">

                @* Language selectors. *@
                <ul id="afsm-language-selector">

                    <li>@Html.ActionLink("EN", currentAction, currentController, enRVD, null)</li>
                    <li>@Html.ActionLink("PT", currentAction, currentController, ptRVD, null)</li>
                </ul>

                <ul class="nav nav-stacked">
                    <li>
                        <a href="@Url.Action("Index", "Home")" title="@LayoutStrings.Index">
                            <img src="~/Content/Images/logo.png" alt="@LayoutStrings.SiteName" />
                        </a>
                    </li>
                    <li>
                        <a href="//www.cm-tomar.pt" target="_blank" title="@LayoutStrings.Council">
                            <img src="~/Content/Images/cmt.png" alt="@LayoutStrings.Council" />
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-stacked">
                    @Html.Partial("_LayoutLinks")
                </ul>
            </div>

            <div id="afsm-page-content" style="height: 100%">
                @RenderBody()

                <div class="clearfix"></div>

                <hr />
                <footer class="text-center">
                    <p>
                        <a href="@Url.Action("About", "Home")">
                            &copy; @DateTime.Now.Year - @LayoutStrings.SiteName &amp; IPT
                        </a>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts/frontoffice")
    @RenderSection("scripts", required: false)
</body>
</html>