<li>
    @Html.ActionLink(ShowcasePhotoStrings.EntityNameShort, "Index", "Showcase")
</li>
<li>@Html.ActionLink(LayoutStrings.Contents, "Archive", "Home")</li>
<li>@Html.ActionLink(LayoutStrings.Search, "Index", "Search")</li>
<li>@Html.ActionLink(NewsItemStrings.EntityNameShortPlural, "Index", "News")</li>
<li>@Html.ActionLink(EventStrings.EntityNamePlural, "Index", "Events")</li>
<li>@Html.ActionLink(LayoutStrings.History, "History", "Home")</li>
<li>@Html.ActionLink(LayoutStrings.References, "References", "Home")</li>
@*<li>@Html.ActionLink(LayoutStrings.TechnicalDocuments, "Index", "TechnicalDocuments")</li>
    <li>@Html.ActionLink(LayoutStrings.UsefulLinks, "Links", "Home")</li>*@
<li>@Html.ActionLink(ContactStrings.EntityNamePlural, "Contacts", "Home")</li>
<li>@Html.ActionLink(PartnershipStrings.EntityNamePlural, "Index", "Partnerships")</li>
