<li>
    @Html.ActionLink(LayoutStrings.Showcase, "Index", "ShowcasePhotos")
</li>
<li>@Html.ActionLink(LayoutStrings.Contents, "Archive", "Home")</li>
<li>@Html.ActionLink(LayoutStrings.Search, "Index", "Search")</li>
<li>@Html.ActionLink(LayoutStrings.News, "Index", "News")</li>
<li>@Html.ActionLink(LayoutStrings.Events, "Index", "Events")</li>
<li>@Html.ActionLink(LayoutStrings.History, "History", "Home")</li>
<li>@Html.ActionLink(LayoutStrings.References, "References", "Home")</li>
@*<li>@Html.ActionLink(LayoutStrings.TechnicalDocuments, "Index", "TechnicalDocuments")</li>
    <li>@Html.ActionLink(LayoutStrings.UsefulLinks, "Links", "Home")</li>*@
<li>@Html.ActionLink(LayoutStrings.Contacts, "Contacts", "Home")</li>
<li>@Html.ActionLink(PartnershipStrings.EntityNamePlural, "Index", "Partnerships")</li>
