@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.TechnicalDocument>


<div class="column_content">
    <h3 class="page_title">Documentos Técnicos</h3>
</div>
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    <a href="~/AnexosImagens/TechnicalDocuments/@Html.DisplayFor(modelItem => item.FileName)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td align="right">
                   @Html.DisplayFor(modelItem => item.LastModificationDate.Day) / @Html.DisplayFor(modelItem => item.LastModificationDate.Month) / @Html.DisplayFor(modelItem => item.LastModificationDate.Year)
                </td>
               
            </tr>
        }

    </table>

