@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da coleção</h2>

<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAttachments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAttachments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
