@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection

@{
    ViewBag.Title = "Edit";
}

<h2>Editar coleção</h2>

@using (Html.BeginForm("Edit", "Collections", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.CatalogCode, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.CatalogCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatalogCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.Type, "Escolha um...", new { @class = "form-control-md-2" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InitialProductionDate,htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.InitialProductionDate, new { htmlAttributes = new { @class = "form-control-md-2", @Value = Model.InitialProductionDate.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.InitialProductionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndProductionDate, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.EndProductionDate, new { htmlAttributes = new { @class = "form-control-md-2", @Value = Model.EndProductionDate.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.EndProductionDate)
            </div>
        </div>

        <div class ="form-group">
            @Html.LabelFor(model => model.LogoLocation, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.LogoLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LogoLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasAttachments, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.HasAttachments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HasAttachments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttachmentsDescriptions, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.AttachmentsDescriptions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttachmentsDescriptions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationSystem, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.OrganizationSystem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganizationSystem)
            </div>
        </div>

        <div class ="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.IsVisible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsVisible)
            </div>
        </div>
    </div>
    @Html.Partial("_SubmitBackPartial")
}

