@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Coleções</h2>

<p>
    @Html.ActionLink("Criar nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasAttachments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogoLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasAttachments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogCode)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Início", "../Home")