@model ArquivoSilvaMagalhaes.Areas.BackOffice.ViewModels.PortalViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Criar arquivo</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <hr />
        <h4>Informação</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.ArchiveHistory, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ArchiveHistory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArchiveHistory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ArchiveMission, htmlAttributes: new { @class = " control-label" })
            <div>
                @Html.EditorFor(model => model.ArchiveMission, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArchiveMission)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LanguageCode, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.LanguageCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LanguageCode)
            </div>
        </div>
        <hr />
        <h4>Contacto</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = " control-label" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Service, htmlAttributes: new { @class = " control-label" })
            <div>
                @Html.EditorFor(model => model.Service, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Service)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, htmlAttributes: new { @class = " control-label" })
            <div>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="from-group">
            @Html.LabelFor(m => m.ContactDetails, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ContactDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactDetails)
            </div>
            <br />
        </div>
    </div>

    @Html.Partial("_SubmitBackPartial")
}
