@model ArquivoSilvaMagalhaes.Models.SiteModels.Archive

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Archive</h2>
<h3>Tem a certeza que pretende remover este arquivo?</h3>

<div>

    <div class="form-horizontal">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
       @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        @Html.ActionLink("Voltar à lista", "Index")
    </div>
        
       }
    </div>

       