@model Archive

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do arquivo</h2>

<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a class="btn btn-danger" title="@UiStrings.Delete" href="@Url.Action("Delete", new { Id = Model.Id })">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveMission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveMission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveHistory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveHistory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
@*<hr />
@foreach (var text in Model.ArchiveTranslations)
    {
    <div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </dt>
            <dd>
                @text.LanguageCode
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ArchiveMission)
            </dt>
            <dd>
                @text.ArchiveMission
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ArchiveHistory)
            </dt>
            <dd>
                @text.ArchiveHistory
            </dd>
        </dl>
    </div>
}
<hr />
@foreach (var contact in Model.Contact)
    {
        <div>
            <br />
            <p><br /><b>Contactos</b></p><br />
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @contact.Name
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @contact.Address
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @contact.Email
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ContactDetails)
                </dt>
                <dd>
                    @contact.ContactDetails
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Service)
                </dt>
                <dd>
                    @contact.Service
                </dd>
            </dl>

        </div>
    }*@
