@model PortalViewModels

<h4> Informação </h4>

<div class="form-group">
    @Html.LabelFor(model => model.LanguageCode, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EnumDropDownListFor(model => model.LanguageCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LanguageCode, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.ArchiveMission, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.ArchiveMission, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ArchiveMission, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ArchiveHistory, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.ArchiveHistory, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ArchiveHistory, "", new { @class = "text-danger" })
    </div>
</div>


