@model EventEditViewModel

@{
    ViewBag.Title = EventStrings.EditTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Events", FormMethod.Post, new { id = "afsm-needs-html" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Event.Translations[0].TextContent, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="afsm-quill panel panel-default" data-afsm-name="#Event_Translations_0__TextContent">
                    <div id="toolbar" class="panel-heading" style="padding: 5px">
                        <div class="btn-group">
                            <button class="ql-bold btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-bold"></span> Negrito
                            </button>
                            <button class="ql-italic btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-italic"></span> Itálico
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="ql-link btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                        </div>
                    </div>

                    <div id="editor" class="panel-body" style="padding: 0">
                        @Html.Raw(Model.Event.Translations[0].TextContent)
                    </div>
                </div>
            </div>
        </div>*@

        <ul class="nav nav-tabs">
            @for (int i = 0; i < Model.Event.Translations.Count(); i++)
            {
                var langCode = Model.Event.Translations[i].LanguageCode;
                <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                    <a href="#@langCode"
                       role="tab"
                       data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <hr style="visibility: hidden" />
            @for (var i = 0; i < Model.Event.Translations.Count; i++)
            {
                var langCode = Model.Event.Translations[i].LanguageCode;
                ViewBag.Index = i;
                <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                     id="@langCode">

                    @Html.PartialFor(model => model.Event.Translations[i], "_EventTranslateableFields")
                </div>
            }
        </div>

        <hr />

        @Html.PartialFor(model => model.Event, "_EventMainFields")

        @Html.Partial("_EventDropDownLists")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">@UiStrings.Done</button>
                @Html.ActionLink(UiStrings.Cancel, "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

@*@section AdditionalScripts {
    <script src="~/Scripts/quill/quill.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            var quill = new Quill('#editor', {
                modules: {
                    'link-tooltip': true
                }
            });
            quill.addModule('toolbar', { container: '#toolbar' });

            $('.afsm-quill').click(function (e) {
                e.preventDefault();
            });

            debugger;

            $('#afsm-needs-html').submit(function (e) {
                debugger;
                var html = quill.getHTML();

                var id = $(this).find('.afsm-quill').first().data('afsm-name');

                $(id).val(html);

                //e.preventDefault();
                //return false;
            });
        }(window.jQuery));
    </script>
}*@