@model ArquivoSilvaMagalhaes.Areas.BackOffice.ViewModels.EventEditViewModel

<h1>Informações</h1>

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Place):</b> @Html.DisplayFor(model => model.Place)
        </dt>
        <dt>
            <b> @Html.DisplayNameFor(model => model.Coordinates):</b> @Html.DisplayFor(model => model.Coordinates)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.VisitorInformation):</b> @Html.DisplayFor(model => model.VisitorInformation)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.StartMoment):</b> @Html.DisplayFor(model => model.StartMoment)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.EndMoment):</b> @Html.DisplayFor(model => model.EndMoment)
        </dt>

        <dt>
            <b>@Html.DisplayNameFor(model => model.EventType):</b> @Html.DisplayFor(model => model.EventType)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.LanguageCode):</b> @Html.DisplayFor(model => model.LanguageCode)
        </dt>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Heading):</b> @Html.DisplayFor(model => model.Heading)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.SpotLight):</b> @Html.DisplayFor(model => model.SpotLight)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.TextContent):</b> @Html.DisplayFor(model => model.TextContent)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
