@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Event>

<div class="column_content">
    <h3 class="page_title">Eventos</h3>

    <table class="table">

        @foreach (var item in Model)
        {
            if (item.HideAfterExpiry != true || item.ExpiryDate > DateTime.Today)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coordinates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartMoment.Date.Day) / @Html.DisplayFor(modelItem => item.StartMoment.Date.Month) / @Html.DisplayFor(modelItem => item.StartMoment.Date.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndMoment.Date.Day) / @Html.DisplayFor(modelItem => item.EndMoment.Date.Month) / @Html.DisplayFor(modelItem => item.EndMoment.Date.Year)
                    </td>
                    <td>
                        @Html.ActionLink("Informações", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>