@model ClassificationEditModel

@{
    ViewBag.Title = "Create";
}

<h2>Criar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LanguageCode)
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_ClassificationI18nPartial")

        @Html.Partial("_SubmitbackPartial")
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
