@model Classification

@{
    ViewBag.Title = ClassificationStrings.DetailsTitleFormat;
}

<h2>@ViewBag.Title</h2>

<div class="btn-toolbar" role="toolbar">

    <div class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
            <span class="glyphicon glyphicon-arrow-left"></span> @UiStrings.Back
        </a>
    </div>

    <div class="btn-group">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
            <span class="glyphicon glyphicon-edit"></span> @UiStrings.Edit
        </a>

        <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true" data-afsm-delete-warning="@ClassificationStrings.DeleteWarningMessage">
            <span class="glyphicon glyphicon-floppy-remove"></span> @UiStrings.Delete
        </a>
    </div>
</div>

<hr />

<div class="container">
    <ul class="nav nav-tabs">
        @for (int i = 0; i < Model.Translations.Count(); i++)
        {
            var langCode = Model.Translations[i].LanguageCode;
            <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                <a href="#@langCode"
                   role="tab"
                   data-toggle="tab">@langCode</a>
            </li>
        }
    </ul>
    <div class="tab-content">

        @foreach (var t in Model.Translations)
        {
            var langCode = t.LanguageCode;

            <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                 id="@langCode">
                <h4>
                    @Html.DisplayNameFor(model => t.Value)
                </h4>

                <p>
                    @Html.DisplayFor(model => t.Value)
                </p>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}