@model Document

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CatalogCode, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button data-afsm-suggest="true" data-afsm-url="@Url.Action("SuggestCode", new { collectionId = "xx" })" data-afsm-src="@Html.IdFor(model => model.CollectionId)" data-afsm-for="@Html.IdFor(model => model.CatalogCode)" class="btn btn-default" type="button">@UiStrings.Suggest</button>
            </span>
            @Html.EditorFor(model => model.CatalogCode, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.ValidationMessageFor(model => model.CatalogCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DocumentDate, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.DatePickerFor(model => model.DocumentDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DocumentDate)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Notes, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Notes)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ResponsibleName, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.EditorFor(model => model.ResponsibleName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ResponsibleName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CatalogationDate, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.DatePickerFor(model => model.CatalogationDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CatalogationDate)
    </div>
</div>