@model DocumentEditViewModel

@{
    ViewBag.Title = DocumentStrings.CreateTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.PartialFor(model => model.Document, "_DocumentMainFields")

        @Html.Partial("_DocumentDropDownLists")

        @Html.PartialFor(model => model.Document.Translations[0], "_DocumentTranslateableFields")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">@UiStrings.Create</button>
                @Html.ActionLink(UiStrings.Cancel, "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

