@model Attachment

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

<h2>Criar novo documento anexo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @* @Html.HiddenFor(model => model.LanguageCode) *@

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileName, new { @class = "control-label" })
            <div>
                <input type="file" accept="image/*" name="UriPath" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MimeFormat, new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.MimeFormat)
                @Html.ValidationMessageFor(model => model.MimeFormat)
            </div>
        </div>

        @*  <div class="form-group">
                @Html.LabelFor(model => model.UriPath, htmlAttributes: new { @class = "control-label" })
                <div>
                    <input type="file" name="@Html.NameFor(model => model.Logo)" required data-val-required="É necessário escolher um ficheiro de imagem." id="@Html.NameFor(model => model.Logo)" accept="image/*" />
                    @Html.ValidationMessageFor(model => model.UriPath, "", new { @class = "text-danger" })
                </div>
            </div>*@

        

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>


    @Html.Partial("_SubmitBackPartial")
}
