
@{
    ViewBag.Title = "Index";
}

<h2>Arquivo Fotográfico Silva e Magalhães</h2>

@Html.ActionLink("Autores", "../Authors")<br />
@Html.ActionLink("Fotografias Banner", "../BannerPhotograph")<br />
@Html.ActionLink("Classificações", "../Classifications")<br />
@Html.ActionLink("Colaboradores", "../Collaborator")<br />
@Html.ActionLink("Coleções", "../Collections")<br />
@Html.ActionLink("Fotografias digitais", "../DigitalPhotographs")<br />
@Html.ActionLink("Documentos anexo", "../DocumentAttachment")<br />
@Html.ActionLink("Documentos", "../Documents")<br />
@Html.ActionLink("Eventos", "../Event")<br />
@Html.ActionLink("Palavras chave", "../Keywords")<br />
@Html.ActionLink("Notícias", "../News")<br />
@Html.ActionLink("Parcerias", "../Partnership")<br />
@Html.ActionLink("Portal", "../Portal")<br />
@Html.ActionLink("Processos", "../Processes")<br />
@Html.ActionLink("Links", "../ReferencedLink")<br />
@Html.ActionLink("Fotografias destaque", "../ShowCasePhotoes")<br />
@Html.ActionLink("Espécies fotográficas", "../Specimens")<br />
@Html.ActionLink("Vidoes destaque", "../SpotLightVideo")<br />
@Html.ActionLink("Documentos técnicos", "../TechnicalDocument")
