@model ImageEditViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Image.DocumentId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Image.DocumentId, Model.AvailableDocuments, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Image.DocumentId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Image.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-afsm-selectlist="#@Html.IdFor(model => model.KeywordIds)" data-afsm-toggle="modal" data-target="#afsm-modal-form" data-remote="@Url.Action("Create", "Keywords", null)">Adicionar...</button>
            </span>
            @Html.ListBoxFor(model => model.KeywordIds, Model.AvailableKeywords, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => Model.KeywordIds, "", new { @class = "text-danger" })
    </div>
</div>

