@model IEnumerable<Image>

@{
    ViewBag.Title = ImageStrings.EntityNamePlural;
    Layout = "~/Areas/BackOffice/Views/Shared/_IndexPageLayout.cshtml";
}
<thead>
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Title)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.ImageCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>


        <th>
            @UiStrings.Actions
        </th>
    </tr>
</thead>

@foreach (var item in Model)
{
    // var t = item.Translations.FirstOrDefault(it => it.LanguageCode == ArquivoSilvaMagalhaes.Utilitites.LanguageDefinitions.DefaultLanguage);

    <tr>

        @*<td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>*@

        <td>
            @Html.DisplayFor(modelItem => item.ImageCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Espécies", "Index", "Specimens", new { imageId = item.Id }, null)
        </td>
    </tr>
}
