@model Specimen

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.AuthorCatalogationCode, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.AuthorCatalogationCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AuthorCatalogationCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ReferenceCode, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button data-afsm-suggest="true"
                        data-afsm-warning="@SpecimenStrings.MustChooseImage"
                        data-afsm-url="@Url.Action("SuggestCode")"
                        data-afsm-entitysrc="#@Html.IdFor(model => model.Id)"
                        data-afsm-src="#@Html.IdFor(model => model.ImageId)"
                        data-afsm-for="#@Html.IdFor(model => model.ReferenceCode)"
                        class="btn btn-primary"
                        type="button">
                    @LayoutStrings.Suggest
                </button>



                @*<button data-afsm-suggest="true" data-afsm-warning="@SpecimenStrings.MustChooseImage" data-afsm-url="@Url.Action("SuggestCode", new { imageId = "xx" })" data-afsm-src="@Html.IdFor(model => model.ImageId)" data-afsm-for="@Html.IdFor(model => model.ReferenceCode)" class="btn btn-primary" type="button">@LayoutStrings.Suggest</button>*@
            </span>
            @Html.TextBoxFor(model => model.ReferenceCode, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.ReferenceCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Annotation, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Annotation, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Annotation, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HasMarksOrStamps, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.CheckBoxFor(model => model.HasMarksOrStamps, new { @class = "checkbox" })
        @Html.ValidationMessageFor(model => model.HasMarksOrStamps, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.State, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.EnumDropDownListFor(model => model.State, LayoutStrings.ChooseOne, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Notes, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>
</div>
