@model SpecimenEditViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Specimen.FormatId, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-afsm-selectlist="#@Html.IdFor(model => model.Specimen.FormatId)" data-afsm-toggle="modal" data-target="#afsm-modal-form" data-remote="@Url.Action("Create", "Formats", null)">Adicionar...</button>
            </span>
            @Html.DropDownListFor(model => model.Specimen.FormatId, Model.AvailableFormats, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.Specimen.FormatId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Specimen.ProcessId, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-afsm-selectlist="#@Html.IdFor(model => model.Specimen.ProcessId)" data-afsm-toggle="modal" data-target="#afsm-modal-form" data-remote="@Url.Action("Create", "Processes", null)">Adicionar...</button>
            </span>
            @Html.DropDownListFor(model => model.Specimen.ProcessId, Model.AvailableProcesses, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.Specimen.ProcessId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Specimen.ImageId, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" data-afsm-for="#@Html.IdFor(model => model.Specimen.ImageId)" data-afsm-use="modal" data-afsm-modal="#aux-modal">
                    @LayoutStrings.Choose
                </button>
            </span>
            @Html.DropDownListFor(model => model.Specimen.ImageId, Model.AvailableImages, new { @class = "form-control", data_afsm_target = "#" + Html.IdFor(model => model.Specimen.ReferenceCode), data_afsm_clear = "true" })
            @Html.ValidationMessageFor(model => model.Specimen.ImageId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
