@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Specimen

@{
    ViewBag.Title = SpecimenStrings.DetailsTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.Id = Model.Id;
}

@section ExtraActions {
    <div class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Create", "DigitalPhotographs", new { specimenId = Model.Id })">
            <span class="glyphicon glyphicon-plus"></span> @SpecimenStrings.AddPhotos
        </a>
    </div>

    @if (Model.Translations.Count < LanguageDefinitions.Languages.Count)
    {
        <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("AddTranslation", new { id = Model.Id })">
                <span class="glyphicon glyphicon-plus"></span> @UiStrings.AddTranslation
            </a>
        </div>
    }
}

<dl class="dl-horizontal">
    @Html.Partial("_MainDisplayFields")
</dl>

<ul class="nav nav-tabs">
    @for (int i = 0; i < Model.Translations.Count(); i++)
    {
        var langCode = Model.Translations[i].LanguageCode;
        <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
            <a href="#@langCode"
               role="tab"
               data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
        </li>
    }
</ul>

<div class="tab-content">

    @foreach (var t in Model.Translations)
    {
        var langCode = t.LanguageCode;

        <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
             id="@langCode">

            <hr style="visibility: hidden" />

            <dl class="dl-horizontal">
                @Html.Partial("_TranslatedDisplayFields", t)
            </dl>

            @if (langCode != LanguageDefinitions.DefaultLanguage)
            {
                <a href="@Url.Action("DeleteTranslation", new { id = Model.Id, languageCode = langCode })">
                    Remover tradução
                </a>
            }
        </div>
    }
</div>

<hr />

@if (Model.DigitalPhotographs.Count() > 0)
{

    foreach (var item in Model.DigitalPhotographs)
    {
        <div class="media">
            <a class="pull-left" href="@Url.Action("GetImage", "DigitalPhotographs", new { id = item.Id, size = "large" })">
                <img class="media-object img-thumbnail" style="max-width: 128px; max-height: 128px" src="@Url.Action("GetImage", "DigitalPhotographs", new { id = item.Id, size = "thumb" })" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(model => item.FileName)</h4>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => item.ScanDate)</dt>
                    <dd>@Html.DisplayFor(model => item.ScanDate)</dd>

                    <dt>@Html.DisplayNameFor(model => item.Notes)</dt>
                    <dd>@Html.DisplayMultilineFor(model => item.Notes)</dd>
                </dl>
            </div>
        </div>
    }

}
else
{
    <p>(@SpecimenStrings.NoDigitalPhotographs)</p>
}