@model SearchResult

@{
    ViewBag.Title = "Pesquisar Documentos";
}

<h2>Pesquisar Documentos</h2>
<hr />

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Pesquisar</button>
            </span>
            <input type="search" @(string.IsNullOrEmpty(Model.Query) ? "autofocus" : "") name="searchTerm" class="form-control" value="@Model.Query" />
        </div>
    </div>
</form>

@if (Model.Results != null)
{
    <div class="list-group">
        @foreach (var doc in Model.Results)
        {
            <a href="@Url.Action("Details", "Documents", new { doc.Id })" class="list-group-item">
                <h4 class="list-group-item-heading">@doc.Title</h4>
            </a>
        }
    </div>

    <div class="text-center">
        @Html.PagedListPager((IPagedList)Model.Results, p => Url.Action("Index", "Search", new { pageNumber = p, searchTerm = Model.Query }))
    </div>
}

