<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="@Url.Content("~/Content/Styles/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/media-queries.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/UiControls/flex-slider/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/prettyPhoto.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/tipsy.css")" rel="stylesheet" type="text/css" />
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
