<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title @(ViewBag.Title != null ? "| " : "")Arquivo Fotográfico Silva Magalhães
    </title>
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    @Styles.Render("~/Content/frontoffice-styles")
</head>
<body>

    <div id="afsm-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">

    </div>


    <div id="afsm-page-container" class="container-fluid">
        <div class="row">
            <div id="afsm-sidebar" class="col-sm-3 col-md-2">
                <ul class="nav nav-stacked">
                    <li>Olá</li>
                </ul>
            </div>


            <div id="afsm-page-content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                @RenderBody()
            </div>
        </div>


        


    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/frontoffice")

</body>
</html>
