@model UserRegistrationModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.RealName, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.RealName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.ListBoxFor(model => model.Roles, Model.AvailableRoles, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.FileUploadFor(model => model.Picture, new { @class = "form-control-static", accept = "image/*" })
                @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_SubmitBackPartial", LayoutStrings.Create)
    </div>
}
