@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Process

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar processo</h2>

<h3>Tem a certeza que pertende eliminar este processo?</h3>
<div>
    
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LanguageCode)
            </dd>
        </dl>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> <br />
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
