@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Process

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do processo</h2>

<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LanguageCode)
            </dd>
        </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) <br />
    @Html.ActionLink("Voltar à lista", "Index")
</p>
