@model ArchiveDetailsViewModel

@{
    ViewBag.Title = FrontOfficeStrings.Collections;
}

<h2>@ViewBag.Title</h2>

<hr />

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active">
        <a href="@Url.Action("Index", "Collections")" role="tab" data-toggle="tab" data-afsm-switchto="#afsm-collections" target="_blank">
            @CollectionStrings.EntityNamePlural
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Authors")" role="tab" data-toggle="tab" data-afsm-switchto="#afsm-authors" target="_blank">
            @AuthorStrings.EntityNamePlural
        </a>
    </li>
</ul>

@* Authors... *@
<div class="tab-content">
    <div class="tab-pane fade active in" id="afsm-collections" data-afsm-ajax="true" data-afsm-id="#afsm-collection-list">
        <form method="get"
              class="form-horizontal"
              data-afsm-ajax="true"
              action="@Url.Action("Index", "Collections")">
            <div class="input-group">
                <input type="search" class="form-control" name="query" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Pesquisar coleções</button>
                </span>
            </div>

        </form>

        <div data-afsm-load="@Url.Action("Index", "Collections")">
            @* Empty! *@
        </div>
    </div>


    <div class="tab-pane fade" id="afsm-authors">
        <div class="list-group">
            @foreach (var author in Model.Authors)
            {
                <a href="@Url.Action("Details", "Authors", new { author.Entity.Id })" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        @(author.Entity.FirstName + " " + author.Entity.LastName)
                    </h4>

                    <p class="list-group-item-text">
                        @Html.DisplayFor(m => author.Entity.BirthDate) @(author.Entity.DeathDate != null ? " - " + Html.DisplayFor(model => author.Entity.DeathDate) : "")
                    </p>
                </a>
            }
        </div>
    </div>



    @* Collections... *@


</div>

@section scripts {
    @Scripts.Render("~/Scripts/frontoffice/ajax-pagination.js")
}