@{
    ViewBag.Title = ContactStrings.EntityNamePlural;
}

<h2>@ContactStrings.EntityNamePlural</h2>
<hr />
<h3>Instituto Politécnico de Tomar</h3>

<p>
    <b>@ContactStrings.Address: </b><br />
    Estrada da Serra<br />
    2300-313 TOMAR<br />
</p>


<p><b>@ContactStrings.PhoneNumber:</b></p>
<p>249 328 100</p>

<p>
    <b> E-mail</b><br />
    <a href="mailto:presidencia@cm-tomar.pt" target="_blank">geral@ipt</a>
</p>

<hr />

<h3>@LayoutStrings.SiteName</h3>

<p>
    <b>@ContactStrings.Address: </b><br />
    Praça da República<br />
    2300-550 TOMAR<br />
</p>


<p><b>@ContactStrings.PhoneNumber:</b></p>
<p>249 329 800</p>

<p><b>@ContactStrings.Email:</b></p>
<a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>

<hr />

<h3>@LayoutStrings.Council</h3>

<p>
    <b>@ContactStrings.Address: </b><br />
    Praça da República<br />
    2300-550 TOMAR<br />
</p>
<p><b>@ContactStrings.PhoneNumber:</b></p>
<p>249 329 800</p>

<p><b>@ContactStrings.Email: </b></p>
<a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>

