@{
    ViewBag.Title = ContactStrings.EntityNamePlural;
}

<h2>@ContactStrings.EntityNamePlural</h2>

<hr />

<h4>@LayoutStrings.SiteName</h4>

<dl class="afsm-dl-vertical">
    <dt>
        @ContactStrings.Address
    </dt>
    <dd>
        Praça da República
        <br />
        2300-550 TOMAR
    </dd>

    <dt>
        @ContactStrings.PhoneNumber
    </dt>
    <dd>
        249 329 800
    </dd>

    <dt>
        @ContactStrings.Email
    </dt>
    <dd>
        <a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>
    </dd>
</dl>

<hr />

<h4>@LayoutStrings.Council</h4>

<dl class="afsm-dl-vertical">
    <dt>
        @ContactStrings.Address
    </dt>
    <dd>
        Praça da República
        <br />
        2300-550 TOMAR
    </dd>

    <dt>
        @ContactStrings.PhoneNumber
    </dt>
    <dd>
        249 329 800
    </dd>

    <dt>
        @ContactStrings.Email
    </dt>
    <dd>
        <a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>
    </dd>
</dl>

<hr />

<h4>@LayoutStrings.IPT</h4>

<dl class="afsm-dl-vertical">
    <dt>
        @ContactStrings.Address
    </dt>
    <dd>
        Estrada da Serra
        <br />
        2300-313 TOMAR
    </dd>

    <dt>
        @ContactStrings.PhoneNumber
    </dt>
    <dd>
        249 328 100
    </dd>

    <dt>
        @ContactStrings.Email
    </dt>
    <dd>
        <a href="mailto:geral@ipt.pt" target="_blank">geral@ipt.pt</a>
    </dd>
</dl>