@model IList<ArquivoSilvaMagalhaes.ViewModels.IndexViewModel>

<style type="text/css">
    div#overlay {
        display: none;
        z-index: 2000;
        background: #000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align:right;
        border:0;
        margin:0;
        padding:0;
    }

</style>

<body onload="toggleOverlay()"></body>

<div id="afsm-carousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Count; i++)
        {
            <li data-target="#afsm-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
        }
    </ol>

    <div class="carousel-inner">

        @for (var i = 0; i < Model.Count; i++)
        {
            var b = Model[i];
            <div class="item @(i == 0 ? "active" : "")">
                <div class="afsm-banner-item-container"
                     style="background-image: url(@Url.Content("~/Public/Banners/" + b.UriPath));">
                    @*<img src="~/Public/Banners/@b.BannerPhotograph.UriPath">*@
                </div>
                <div class="carousel-caption">
                    @Html.DisplayFor(modelItem => b.Translations.LastOrDefault().Caption)
                </div>
            </div>
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#afsm-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#afsm-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="row">

    <div class="col-md-3">
        <h4> Notícias</h4>
        <a href="~/NewsItems">
            <img src="~/images/news.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                Todas as novidades sobre coleções, fotos, projetos e exposições.
            </small>
        </p>
    </div>
    <div class="col-md-3">
        <h4> Eventos</h4>
        <a href="~/Events">
            <img src="~/images/events.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                Exposições, atividades, eventos pedagógicos, workshops, entre outros...
            </small>
        </p>
    </div>
    <div class="col-md-3">
        <h4> Acervo</h4>
        <a href="~/Collections/">
            <img src="~/images/documents.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                Coleções de fotografias de diversos autores contextualizadas históricamente e geográficamente.
            </small>
        </p>
    </div>
    <div class="col-md-3">
        <h4> Destaque</h4>
        <a href="~/ShowCasePhotos">
            <img src="~/images/spotlightphoto.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                Fotografias em destaque com comentário de Carlos Rodante Veloso.
            </small>
        </p>
    </div>
</div>


<div id="overlay">
    <iframe style="top:0; left:21.8%; width:71%; height:53%; position:fixed;"  
            src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
    <button type="button" data-afsm-close-overlay="#afsm-overlay" class="btn btn-default" onmousedown="toggleOverlay()">Saltar</button>
</div>

<script type="text/javascript">
    function toggleOverlay() {
        var overlay = document.getElementById('overlay');
        overlay.style.opacity = .8;

        if (overlay.style.display == "block") {
            overlay.style.display = "none";
        } else {
            overlay.style.display = "block";
        }
    }
</script>

