@model IndexViewModel

<div id="afsm-carousel" class="carousel slide afsm-negate-padding" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">

        @for (var i = 0; i < Model.Banners.Count; i++)
        {
            <li data-target="#afsm-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
        }
    </ol>

    <div class="carousel-inner">
        @for (var i = 0; i < Model.Banners.Count; i++)
        {
            var b = Model.Banners[i];
            <div class="item @(i == 0 ? "active" : "")">
                @* style="background-image: url(@Url.Content("~/Public/Banners/" + b.Entity.UriPath));" *@
                <div class="afsm-banner-item-container">
                    <img src="@Url.Content("~/Public/Banners/" + b.Entity.UriPath)"
                         class="afsm-banner-item" />
                </div>
                <div class="carousel-caption">
                    <p>@Html.DisplayFor(modelItem => b.Translation.Caption)</p>
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#afsm-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#afsm-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h4>@Html.ActionLink(LayoutStrings.News, "Index", "NewsItems")</h4>
        <a href="~/NewsItems">
            <img src="~/images/news.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                @FrontOfficeStrings.NewsIndex
            </small>
        </p>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink(LayoutStrings.Events, "Index", "Events")</h4>
        <a href="~/Events">
            <img src="~/images/events.png"
                 class="left no_border"
                 alt=""
                 style="margin-top: 10px; margin-right: 10px" />
        </a>
        <p>
            <small>
                @FrontOfficeStrings.EventsIndex
            </small>
        </p>
    </div>

    <div class="col-md-3">
        <h4>@Html.ActionLink(LayoutStrings.Contents, "Index", "Collections")</h4>
        <a href="~/Collections/">
            <img src="~/images/documents.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                @FrontOfficeStrings.CollectionsIndex
            </small>
        </p>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink(LayoutStrings.Showcase, "Index", "ShowcasePhotos", null, null)</h4>
        <a href="~/ShowCasePhotos">
            <img src="~/images/spotlightphoto.png" class="left no_border" alt="" style="margin-top: 10px;
                                        margin-right: 10px" />
        </a>
        <p>
            <small>
                @FrontOfficeStrings.ShowCaseIndex
            </small>
        </p>
    </div>
</div>

@if (Request.Cookies["afsm-novideo"] == null)
{
    @section scripts {
        @Html.Partial("_VideoDisplayPartial", Model.VideoId)
    }
}



