@model ReferencesViewModel

@{
    ViewBag.Title = LayoutStrings.References;
}

<h2>
    @LayoutStrings.References
</h2>

<hr />

@functions
{
    /// <summary>
    /// Gets the appropriate glyphicon for the file type.
    /// </summary>
    /// <returns></returns>
    string GlyphIconForMimeType(string mimeType, string fileName = null)
    {
        var regex = new System.Text.RegularExpressions.Regex(".doc(x)?$|.ppt(x)?$|.xls(x)?$");


        if (mimeType.StartsWith("image/"))
        {
            return "glyphicon-picture";
        }
        else if (mimeType.StartsWith("audio/"))
        {
            return "glyphicon-music";
        }
        else if (mimeType.StartsWith("video/"))
        {
            return "glyphicon-film";
        }
        else if (mimeType == "application/pdf" || regex.IsMatch(fileName))
        {
            return "glyphicon-book";
        }
        else if (mimeType == "application/zip" || fileName.EndsWith(".zip"))
        {
            return "glyphicon-compressed";
        }

        return "glyphicon-file";
    }
}

<h4>@TechnicalDocumentStrings.EntityNamePlural</h4>

<div class="list-group">
    @foreach (var doc in Model.TechnicalDocuments)
    {
        <a class="list-group-item" href="~/Public/TechnicalDocuments/@doc.FileName" target="_blank">
            <div class="media">
                <span class="pull-left afsm-large-glyphicon glyphicon @GlyphIconForMimeType(doc.Format, doc.FileName)">
                </span>
                <div class="media-body">
                    <h4 class="media-heading">@doc.Title</h4>
                    @(Math.Round(doc.FileSize / 1000000.0, 2)) MB
                </div>
            </div>
        </a>
    }
</div>

<h4>@ReferencedLinkStrings.EntityNamePlural</h4>

<div class="list-group">
    @foreach (var link in Model.ReferencedLinks)
    {
        <a class="list-group-item" href="@link.Entity.Link" target="_blank">
            <div class="media">
                <span class="pull-left afsm-large-glyphicon glyphicon glyphicon-link">
                </span>
                <div class="media-body">
                    <h4 class="media-heading">@link.Entity.Title</h4>
                    <p>@link.Translation.Description</p>
                </div>
            </div>
        </a>
    }
</div>
