@model DocumentAttachmentViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Criar novo documento anexo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.LanguageCode)
    
    <div class="form-horizontal">
 
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">           

            @Html.LabelFor(model => model.MimeFormat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MimeFormat)
                @Html.ValidationMessageFor(model => model.MimeFormat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UriPath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="UriPath" required />
            </div>
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        
        @Html.Partial("_DocumentI18nPartial")
    </div>
    
    
    @Html.Partial("_SubmitBackPartial")
}
