@model ArquivoSilvaMagalhaes.Models.SiteModels.Attachment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MimeFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimeFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UriPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UriPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}