@model ArquivoSilvaMagalhaes.Models.SiteModels.DocumentAttachment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentAttachment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MimeFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimeFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UriPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UriPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
