@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.DigitalPhotograph>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="row">
            @* Picture *@
            <div class="col-md-3">
                <img class="img-responsive" src="@Url.Action("GetPicture", new { id=item.Id, size = "Thumb" })" />
            </div>

            @* Details *@
            <div class="col-md-7">
                <div class="row">
                    <strong>@Html.DisplayNameFor(iModel => iModel.Process)</strong>
                    <span>@Html.DisplayFor(iModel => item.Process)</span>
                </div>
                <div class="row">
                    <strong>@Html.DisplayNameFor(iModel => iModel.IsVisible)</strong>
                    <span>@(item.IsVisible ? UiStrings.Yes : UiStrings.No)</span>
                </div>
            </div>

            @* Actions *@
            <div class="row col-md-offset-11">
                <div class="btn-group">
                    <a class="btn btn-default" title="@UiStrings.Edit" href="@Url.Action("EditPhoto", new { id = item.Id })">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="btn btn-danger" title="@UiStrings.Delete" href="@Url.Action("DeletePhoto", new { id = item.Id })" data-afsm-show-modal="true" data-afsm-link="">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </a>
                </div>
            </div>
        </div>

        <hr />
    }
}
else
{
    <p>Nada para ver aqui.</p>
}
