@model SpecimenPhotoUploadModel

@{
    ViewBag.Title = "AssociateDigitalPhoto";
}

@section headscripts{
    @Scripts.Render("~/bundles/angular")
}

<h2>AssociateDigitalPhoto</h2>

@using (Html.BeginForm("AssociateDigitalPhoto", "Specimens", FormMethod.Post, new { enctype = "multipart/form-data", data_ng_app = "pictureForm" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.SpecimenId)

    <div class="form-horizontal" data-ng-controller="FormController as form">

        <div class="form-group">
            <input type="file" name="Photos" id="Photos" accept="image/*" multiple onchange="angular.element(this).scope().getPictures()" required />
        </div>

        <div data-ng-repeat="photo in photos">

            <input type="hidden" name="Items[{{photo.index}}].OriginalFileName" value="{{photo.fileName}}" />

            <div class="col-md-3">
                <img class="img-responsive" id="photos-{{photo.index}}" />

                <label class="control-label" for="Items[{{photo.index}}].IsToConsider">@Html.DisplayNameFor(model => model.Items[0].IsToConsider)</label>
                <input class="checkbox" type="checkbox" checked="checked" name="Items[{{photo.index}}].IsToConsider" value="true" />
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <label for="Items[{{photo.index}}].Process">@Html.DisplayNameFor(model => model.Items[0].Process)</label>

                    <div>
                        <input class="form-control" type="text" name="Items[{{photo.index}}].Process" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Items[{{photo.index}}].IsVisible">@Html.DisplayNameFor(model => model.Items[0].IsVisible)</label>
                    <div>
                        <input class="checkbox" type="checkbox" name="Items[{{photo.index}}].IsVisible" value="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Items[{{photo.index}}].Process">@DataStrings.ScanDate</label>

                    <div class="form-inline">
                        <input type="date" class="form-control" name="Items[{{photo.index}}].ScanDate" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Items[{{photo.index}}].IsVisible">@Html.DisplayNameFor(model => model.Items[0].CopyrightInfo)</label>

                    <div>
                        <textarea class="form-control" name="Items[{{photo.index}}].CopyrightInfo" required></textarea>
                    </div>
                </div>

                <hr />
            </div>
        </div>

        <div ng-show="photos.length > 0">
            @Html.Partial("_SubmitBackPartial")
        </div>
    </div>

}



@section Scripts {
    <script type="text/javascript">
        (function (window, document) {
            var app = angular.module('pictureForm', []);

            app.controller('FormController', function ($scope) {
                var _this = this;

                $scope.photos = [];

                this.hasChosenPictures = false;
                this.i = 20;

                this.files = [];

                $scope.getPictures = function () {
                    _this.files = $('#Photos')[0].files;

                    $('#Photos').hide();

                    for (var i = 0; i < _this.files.length; i += 1) {
                        $scope.photos.push({
                            index: i,
                            fileName: _this.files[i].name
                        });
                    }

                    loadAllImages();

                    $scope.$apply();
                };

                function loadAllImages() {
                    var i = 0;
                    for (i = 0; i < $scope.photos.length; i += 1) {
                        (function (index) {
                            var fr = new FileReader();

                            fr.onload = function (e) {
                                $('#photos-' + index).attr('src', e.target.result);
                            }

                            fr.readAsDataURL(_this.files[i]);
                        }(i));
                    }
                }
            });


        }(window, document));
    </script>
}
