@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Specimen

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da espécie</h2>
<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorCatalogationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorCatalogationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasMarksOrStamps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasMarksOrStamps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>

@if (Model.DigitalPhotographs.Count() > 0)
{
    ViewBag.ActionToRedirect = "Details";

    foreach (var item in Model.DigitalPhotographs)
    {
        @Html.Partial("_PhotoListItemPartial", item)
    }
}
else
{
    <p>Nada para ver aqui!</p>
}

<!-- Modal -->
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
    @Html.Partial("_PhotoPreviewModal")
}
