@model IEnumerable<Specimen>

@{
    ViewBag.Title = SpecimenStrings.EntityNamePlural;
    Layout = "~/Areas/BackOffice/Views/Shared/_IndexPageLayout.cshtml";
}

<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AuthorCatalogationCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Format.FormatDescription)
        </th>

        <th>@UiStrings.Actions</th>
    </tr>
</thead>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorCatalogationCode)
        </td>

        <td>
            @Html.EnumDisplayFor(modelItem => item.State)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Format.FormatDescription)
        </td>

        <td>
            <form class="btn-group" method="post" action="@Url.Action("Delete", new { id = item.Id })">
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Details">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>

                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default" title="@UiStrings.Edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>

                <a href="@Url.Action("AssociateDigitalPhoto", new { id = item.Id })" class="btn btn-default" title="@UiStrings.AssociatePicture">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>

                @Html.AntiForgeryToken()
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                </a>
            </form>
        </td>
    </tr>
}