@model IEnumerable<TranslatedViewModel<Author, AuthorTranslation>>


<div id="afsm-author-list">
    @if (Model.Count() > 0)
    {
        <div class="list-group">
            @foreach (var author in Model)
            {
                <a href="@Url.Action("Details", "Authors", new { author.Entity.Id })" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        @(author.Entity.FirstName + " " + author.Entity.LastName)
                    </h4>

                    <p class="list-group-item-text">
                        @Html.DisplayFor(m => author.Entity.BirthDate) @(author.Entity.DeathDate != null ? " - " + Html.DisplayFor(model => author.Entity.DeathDate) : "")
                    </p>
                </a>
            }
        </div>

        <div class="text-center afsm-pagination">
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", "Authors", new { pageNumber = p }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
        </div>
    }
    else
    {
        <div class="alert alert-warning afsm-dohighlight" role="alert">
            @LayoutStrings.NoItems
        </div>
    }
</div>