@model AuthorDetailsViewModel

@{
    ViewBag.Title = Model.Author.Entity.FirstName + " " + Model.Author.Entity.LastName;
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Authors")">
            @AuthorStrings.EntityNamePlural
        </a>
    </li>

    <li class="active">
        @Model.Author.Entity.FirstName @Model.Author.Entity.LastName
    </li>
</ol>

<h2>@Model.Author.Entity.FirstName @Model.Author.Entity.LastName</h2>

<p>@Model.Author.Translation.Nationality</p>

<p>@Html.DisplayFor(m => Model.Author.Entity.BirthDate) @(Model.Author.Entity.DeathDate != null ? " - " + Html.DisplayFor(model => Model.Author.Entity.DeathDate) : "")</p>

<hr />

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active">
        <a href="#afsm-details" role="tab" data-toggle="tab">
            Detalhes
        </a>
    </li>
    @if (Model.Documents.Count() > 0)
    {
        <li>
            <a href="#afsm-documents" role="tab" data-toggle="tab">
                @DocumentStrings.EntityNamePlural (@(Model.Documents.Count()))
            </a>
        </li>
    }

    @if (Model.Collections.Count() > 0)
    {
        <li>
            <a href="#afsm-collections" role="tab" data-toggle="tab">
                @CollectionStrings.EntityNamePlural (@(Model.Collections.Count()))
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane active fade in" id="afsm-details">
        <dl class="afsm-dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Author.Translation.Biography)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.Translation.Biography)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Author.Translation.Curriculum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.Translation.Curriculum)
            </dd>
        </dl>
    </div>
    @if (Model.Documents.Count() > 0)
    {
        <div class="tab-pane fade" id="afsm-documents">
            @Html.Partial("_DocumentList", Model.Documents)
        </div>
    }
    
    @if (Model.Collections.Count() > 0)
    {
        <div class="tab-pane fade" id="afsm-collections">
            @Html.Partial("_CollectionList", Model.Collections)
        </div>
    }
</div>
