@model TranslatedViewModel<Author, AuthorTranslation>

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @FrontOfficeStrings.Collections
        </a>
    </li>
    <li class="active">
        @Html.Truncate(Model.Entity.FirstName +" "+ Model.Entity.LastName, 20)
    </li>
</ol>

<h2>@Html.DisplayFor(model => model.Entity.FirstName) @Html.DisplayFor(model => model.Entity.LastName)</h2>


<div class="list-group">
    <dl>
        @if (Model.Entity.BirthDate != null)
        {
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.BirthDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity.BirthDate)
            </dd>
        }
        @if (Model.Entity.DeathDate != null)
        {
            <dt>
                @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.DeathDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity.DeathDate)
            </dd>
        }
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Nacionality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Nationality)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Biography)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translation.Curriculum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Curriculum)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Collections)
        </dt>

        @for (var i = 0; i < Model.Translation.Author.Collections.Count; i++)
        {
            <dd>
                <a href="~/Documents/Index/@Html.DisplayFor(model => model.Entity.Collections.ElementAtOrDefault(i).Id)">@Html.DisplayFor(modelItem => modelItem.Entity.Collections.ElementAtOrDefault(i).Translations.LastOrDefault().Title)</a>
            </dd>
        }
    </dl>
</div>
