@model TranslatedViewModel<Author, AuthorTranslation>

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(model => model.Entity.FirstName) @Html.DisplayFor(model => model.Entity.LastName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.BirthDate)
        </dd>

        <dt>
           @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.DeathDate)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Nacionality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Nationality)
        </dd>
        <dt>
            @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Biography)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Translation.Curriculum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Translation.Curriculum)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Back, "Index")
</p>