@model IEnumerable<TranslatedViewModel<Author, AuthorTranslation>>

@{
    ViewBag.Title = AuthorStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Archive", "Home")">
            @LayoutStrings.Contents
        </a>
    </li>
    <li class="active">
        @AuthorStrings.EntityNamePlural
    </li>
</ol>

<h2>@AuthorStrings.EntityNamePlural</h2>

<hr />

@Html.Partial("_AuthorList", Model)




