@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<TranslatedViewModel<Author, AuthorTranslation>>

@{
    ViewBag.Title = "Index";
}

<h2 class="page_title">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Authors)</h2>
<hr />
<a href="~/Collections">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Collections) </a><b>&#9658</b> <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Authors)</b>
<hr />
<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">

            <div>
                <a href="~/Authors/Details/@item.Entity.Id">
                    <h4><b>@Html.DisplayFor(model => item.Entity.FirstName) @Html.DisplayFor(model => item.Entity.LastName)</b></h4>
                </a>
                <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.BirthDate)</b>
                @if ((@Html.DisplayFor(model => item.Entity.BirthDate) != null))
                {
                    <p>@Html.DisplayFor(model => item.Entity.BirthDate.Year) / @Html.DisplayFor(model => item.Entity.BirthDate.Month) / @Html.DisplayFor(model => item.Entity.BirthDate.Day)</p>
                }
                else
                {
                    <p>@Html.Display("-")</p>
                }
                <b>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.DeathDate)</b>
                @if ((@Html.DisplayFor(model => item.Entity.DeathDate) != null))
                {
                    <p>@Html.DisplayFor(model => item.Entity.DeathDate.Value.Year) / @Html.DisplayFor(model => item.Entity.DeathDate.Value.Month) / @Html.DisplayFor(model => item.Entity.DeathDate.Value.Day)</p>
                }
                else
                {
                    <p>@Html.Display("-")</p>
                }
            </div>
        </li>
    }
</ul>
@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}
