@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Document

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do documento</h2>
<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentDate)
        </dt>

        <dd>
            @if (Model.DocumentDate != null)
            {
                @Html.DisplayFor(model => model.DocumentDate)
            }
            else
            {
                @DocumentStrings.UnknownDocumentDate
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogCode)
        </dd>

    </dl>
</div>
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}