@model Document

@{
    ViewBag.Id = Model.Id;
    ViewBag.Title = DocumentStrings.DetailsTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_DetailsPageLayout.cshtml";
}

@section ExtraActions {
    @if (Model.Translations.Count < LanguageDefinitions.Languages.Count)
    {
        <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("AddTranslation", new { id = Model.Id })">
                <span class="glyphicon glyphicon-plus"></span> @UiStrings.AddTranslation
            </a>
        </div>
    }
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ResponsibleName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ResponsibleName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DocumentDate)
    </dt>

    <dd>
        @if (Model.DocumentDate != null)
        {
            @Html.DisplayFor(model => model.DocumentDate)
        }
        else
        {
            @DocumentStrings.UnknownDocumentDate
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CatalogationDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CatalogationDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Notes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Notes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CatalogCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CatalogCode)
    </dd>

</dl>

<ul class="nav nav-tabs">
    @for (int i = 0; i < Model.Translations.Count(); i++)
    {
        var langCode = Model.Translations[i].LanguageCode;
        <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
            <a href="#@langCode"
               role="tab"
               data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
        </li>
    }
</ul>

<div class="tab-content">

    @foreach (var t in Model.Translations)
    {
        var langCode = t.LanguageCode;

        <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
             id="@langCode">

            <hr style="visibility: hidden" />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => t.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => t.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => t.DocumentLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => t.DocumentLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => t.FieldAndContents)
                </dt>

                <dd>
                    @Html.DisplayFor(model => t.FieldAndContents)
                </dd>
            </dl>

            @if (langCode != LanguageDefinitions.DefaultLanguage)
            {
                <a href="@Url.Action("DeleteTranslation", new { id = Model.Id, languageCode = langCode })">
                    Remover tradução
                </a>
            }
        </div>
    }
</div>