@model DocumentEditViewModel

@{
    ViewBag.Title = DocumentStrings.EditTitleFormat;

    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Document.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_DocumentDropDownLists")
        @Html.PartialFor(model => model.Document, "_DocumentMainFields")

        <ul class="nav nav-tabs">
            @for (int i = 0; i < Model.Document.Translations.Count(); i++)
            {
                var langCode = Model.Document.Translations[i].LanguageCode;
                <li class="@(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")">
                    <a href="#@langCode"
                       role="tab"
                       data-toggle="tab">@LanguageDefinitions.GetLanguage(langCode)</a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <hr style="visibility: hidden" />
            @for (var i = 0; i < Model.Document.Translations.Count; i++)
            {
                var langCode = Model.Document.Translations[i].LanguageCode;
                ViewBag.Index = i;
                <div class="tab-pane @(langCode == LanguageDefinitions.DefaultLanguage ? "active" : "")"
                     id="@langCode">

                    @Html.PartialFor(model => model.Document.Translations[i], "_DocumentTranslateableFields")
                </div>
            }
        </div>

        @Html.Partial("_SubmitBackPartial", LayoutStrings.Done)
    </div>
}