@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ShowcasePhoto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DigitalPhotograph.ScanDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommenterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommenterEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisibleSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DigitalPhotograph.ScanDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommenterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommenterEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisibleSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
