@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Event>

@{
    ViewBag.Title = "Index";
}


<div class="column_content">

    <h3 class="page_title"> Eventos</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordinates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartMoment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndMoment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:large">
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coordinates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartMoment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndMoment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
            </tr>
        }

    </table>
</div>