@model AuthorEditViewModel

@{
    ViewBag.Title = AuthorStrings.CreateTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.Author.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        
        @Html.PartialFor(model => model.Author, "_AuthorMainFields")

        @Html.PartialFor(model => model.Author.Translations[0], "_AuthorTranslateableFields")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">@UiStrings.Create</button>
                @Html.ActionLink(UiStrings.Cancel, "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
    
}