@model ArquivoSilvaMagalhaes.Models.ArchiveModels.AuthorText

@{
    ViewBag.Title = "DeleteText";
}

<h2>DeleteText</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AuthorText</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curriculum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
