@model Author

@{
    ViewBag.Title = "Details";
    var translations = Model.Translations.ToList();
}

<h2>Detalhes do autor</h2>

<div class="btn-toolbar btn-group" role="toolbar">
    <a class="btn btn-default" href="@Url.Action("Index")" title="@UiStrings.GoToList">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="@UiStrings.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" title="@UiStrings.Delete" data-afsm-show-modal="true">
        <span class="glyphicon glyphicon-floppy-remove"></span>
    </a>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>

        @foreach (var t in translations)
        {
            <dt>
                @Html.DisplayNameFor(model => t.Nationality)
            </dt>

            <dd>
                @Html.DisplayFor(model => t.Nationality)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => t.Biography)
            </dt>

            <dd>
                @Html.DisplayMultilineFor(model => t.Biography)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => t.Curriculum)
            </dt>

            <dd>
                @Html.DisplayMultilineFor(model => t.Curriculum)
            </dd>
        }
    </dl>


</div>
@section Scripts {
    @Html.Partial("_DeleteConfirmModal")
}