@model AuthorViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
    </dl>

    @foreach (var text in Model.AuthorI18nTexts)
    {
        <div>
            <h4>@UiStrings.Language: @ArquivoSilvaMagalhaes.Utilitites.LanguageDefinitions.GetLanguageName(text.LanguageCode)</h4>

            <dl>
                <dt>
                    @Html.DisplayNameFor(model => text.Nationality)
                </dt>

                <dd>
                    @text.Nationality
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => text.Curriculum)
                </dt>

                <dd>
                    @text.Curriculum
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => text.Biography)
                </dt>
                <dd>
                    @text.Biography
                </dd>

            </dl>

            @Html.ActionLink(@UiStrings.Edit, "EditText", new { AuthorId = text.AuthorId, LanguageCode = text.LanguageCode })

            @*Only allow the removal of texts which are not the default language.*@
            @if (text.LanguageCode != ArquivoSilvaMagalhaes.Utilitites.LanguageDefinitions.DefaultLanguage)
            {
                @Html.ActionLink(@UiStrings.Delete, "DeleteText", new { AuthorId = text.AuthorId, LanguageCode = text.LanguageCode })
            }

            <hr />
        </div>
    }

    @if (ViewBag.AreLanguagesMissing)
    {
        
        @Html.ActionLink("AddLanguage", "AddLanguage", new { Id = Model.Id })
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
