@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.TechnicalDocument>


<h2>Documentos Técnicos</h2>

<hr />

<div class="media">
    <ul class="media-list">
        @foreach (var doc in Model)
        {
            <li class=" col-md-6 list-group">
                <a class="pull-left" href="~/Public/TechnicalDocuments/@doc.FileName" target="_blank">
                    <img class="media-object afsm-media-object" src="~/images/docIcon.png" alt="Documento Técnico" title="@doc.Format">
                </a>
                    <a href="~/Public/TechnicalDocuments/@doc.FileName" target="_blank">
                        <h4 class="media-heading">@doc.Title</h4>
                    </a>
                    <p>
                        @Html.DisplayFor(model => doc.LastModificationDate)
                    </p>
            </li>
        }
    </ul>
</div>
@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}


@*<table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    <a href="~/Public/TechnicalDocuments/@item.FileName" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.LastModificationDate.Day) / @Html.DisplayFor(modelItem => item.LastModificationDate.Month) / @Html.DisplayFor(modelItem => item.LastModificationDate.Year)
                </td>

            </tr>
        }

    </table>*@

