@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.TechnicalDocument>


<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.TechnicalDocuments)</h2>

<hr />

<div class="media">
    <ul class="media-list">
        @foreach (var doc in Model)
        {
            <li class=" col-md-6 list-group">
                <a class="pull-left" href="~/Public/TechnicalDocuments/@doc.FileName" target="_blank">
                    @switch (doc.Format)
                    {
                        case ("image/jpeg"): <img class="media-object afsm-media-object" src="~/images/JPEG.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        case ("image/png"): <img class="media-object afsm-media-object" src="~/images/PNG.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        case ("application/pdf"): <img class="media-object afsm-media-object" src="~/images/PDF.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        case ("application/vnd.openxmlformats-officedocument.presentationml.presentation"): <img class="media-object afsm-media-object" src="~/images/PPT.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        case ("application/octet-stream"): <img class="media-object afsm-media-object" src="~/images/WinZip.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        case ("application/vnd.openxmlformats-officedocument.wordprocessingml.document"): <img class="media-object afsm-media-object" src="~/images/Word.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                        default: <img class="media-object afsm-media-object" src="~/images/docIcon.png" alt="Documento Técnico" title="@doc.Format">
                            break;
                    }
                </a>
                <a href="~/Public/TechnicalDocuments/@doc.FileName" target="_blank">
                    <h4 class="media-heading">@doc.Title</h4>
                </a>
                <p>
                    @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.LastModificationDate): @Html.DisplayFor(model => doc.LastModificationDate)<br />
                    @Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Size): @Html.DisplayFor(model => doc.FileSize)
                </p>
            </li>
        }
    </ul>



</div>
@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}


